

html, body {
  color: #e5d9ff;
  font-family: "futura-pt",sans-serif;
  max-width: 100%;
  overflow-x: hidden;
	background-color: #221f29;
}

input {
  outline: none;
  color: #e5d9ff;
}

a {
  outline: 0;
  text-decoration: none;
  color: #e5d9ff;
}

a:hover, a:active, a:focus {
  outline: 0;
}

::-webkit-input-placeholder {
 color: #e5d9ff;
}

/*-----ANIMATION-------*/


.fadeIn{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;

	animation-duration: 5s;
	-webkit-animation-duration: 5s;

	animation-timing-function: cubic-bezier(0.335, 0.010, 1.000, -0.080);
	-webkit-animation-timing-function: cubic-bezier(0.335, 0.010, 1.000, -0.080);

	visibility: visible !important;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateX(0%);
	}
	50%{
		transform: translateX(0%);
	}
	65%{
		transform: translateX(0%);
	}
	80%{
		transform: translateX(0%);
	}
	95%{
		transform: translateX(0%);
	}
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}

@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: opacity(0%);
		-webkit-transform: translateX(0%);
	}
	100% {
		-webkit-transform: opacity(100%);
		-webkit-transform: translateX(0%);
	}
}

.slideLeft{
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;

	animation-duration: 0.8s;
	-webkit-animation-duration: 0.8s;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

	visibility: visible !important;
}

@keyframes slideLeft {
	0% {
		opacity: 0.9;
		transform: translateX(100%);
	}

	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}

@-webkit-keyframes slideLeft {
	0% {
		-webkit-transform: translateX(100%);
	}

	100% {
		-webkit-transform: translateX(0%);
	}
}

.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;

	animation-duration: 0.7s;
	-webkit-animation-duration: 0.7s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	visibility: visible !important;
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}

	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}

	100% {
		-webkit-transform: translateY(0%);
	}
}

.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;

	animation-duration: 0.7s;
	-webkit-animation-duration: 0.7s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	visibility: visible !important;
}

@keyframes slideUp {
	0% {
		transform: translateY(0%);
	}

	100% {
		transform: translateY(-100%);
	}
}

@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(0%);
	}

	100% {
		-webkit-transform: translateY(-100%);
	}
}

/*-----END ANIMATION-------*/

.navBar {
  position: fixed;
  z-index: 10;
  height: 60px;
  background-color: #221f29;
  display: block;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 88%;
}

.logoFuture {
  width: 80px;
  height: 17px;
}

.logoPNG {
  width: 100%;

}

.ul800 {
  display: none;
}

/*----MENU-----*/

.menu {
  display: none;
  position: fixed;
  z-index: 8;
  width: 100%;
  margin-top: 60px;
}

.menuContainer768 {
  display: none;
}

.menuContainer320 {
  padding-top: 60px;
  background-color: #221f29;
  /*background-image: url(img/Pheasant-3percent.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;*/
  height: 88vh;
  display: flex;
  justify-content: center;
  font-size: 0.75rem;
  letter-spacing: 0.07rem;
  line-height: 1.6rem;
  font-weight: 600;
}

.colWrapper {
  display: flex;
  justify-content: space-between;
  width: 77%;
}

.sectionTitle {
  color: #8D45F2;
}

.separator {
  margin-top: 10px;
  width: 8px;
  border: solid 1px #8D45F2;
  border-radius: 5px;
}

.filterBy {
  margin-top: 25px;
}

.ulBlock {
  padding: 0;
  line-height: 1.8rem;
}

.ulBlock li {
  text-decoration: none;
  list-style: none;
}

.ulBlock li a {
  outline: 0;
  text-decoration: none;
  color: #e5d9ff
}

.socialMediaMenu360 {
  position: fixed;
  margin-top: 125%;
	left: 45px;
  /*margin-left: 45px;*/
}

.socialMedia360 {
  width: 100px;
  /*height: 50px;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom768 {
  display: none;
}

/*---END MENU---*/

.hamburger {
  padding: 10px;
}

.lineStyle {
  width: 25px;
  background-color: #e5d9ff;
  height: 2px;
  border-radius: 25px;
}

.lineMid {
  margin: 5px 0;
}

.purpleStroke {
  z-index: 10;
  height: 1960px;
  background-image: url(img/paint.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.headerContainer {
  /*z-index: 3;*/
  height: 100vh;
  width: 100%;
  display: flex;
}

.header {
  height: 100vh;
  margin: 0;
  display: flex;
}

.headerContent {
  margin-left: 20px;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyHeadline {
  font-size: 2.2rem;
  letter-spacing: 0.005px;
  font-weight: 700;
  margin: 0;
}

.copySlogan {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1.65px;
  margin-bottom: 0.7rem;
  line-height: 2rem;
}

.socialMedia {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.youtube {
  width: 25px;
  height: 20px;
}

.instagram {
  width: 20px;
  height: 24px;
}

.behance {
  width: 25px;
  height: 24px;
}

.socialIcons {
  width: 100%;
  height: 100%;
}

.emailInput {
  width: 150px;
  border: #e5d9ff solid 2px;
  border-radius: 10px 0 0 10px;
  background-color: transparent;
  font-family: "futura-pt",sans-serif;
  font-size: 0.9rem;
  letter-spacing: 1.2px;
  padding: 8px 10px 8px 15px;
}

.joinBtn {
  margin-left: -5px;
  width: 100px;
  background-color: #e5d9ff;
  border: #e5d9ff solid 2px;
  border-radius: 0 10px 10px 0;
  padding: 8px 5px 8px 5px;
  font-family: "futura-pt",sans-serif;
  font-size: 0.9rem;
  color: #5d00f8;
}

.copyFollow {
  margin-top: 1.2rem;
  font-size: 0.75rem;
  letter-spacing: 0.10rem;
  font-weight: 600;
  line-height: 1.2rem;
}

.copyFollow768 {
  display: none;
}

/*_______________*/

.valueProps {
	margin-top: -1300px;
	z-index: 1;
}

.sectionOne {
	z-index: 1;
	margin-top: 300px;
	text-align: center;
}

.copySectionBird1Container {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	height: 1350px;
	margin-top: 400px;
	background-image: url(img/Pheasant-3percent.png);
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -1;
}



.copySeekers {
	margin-top: 450px;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
}

.copySelfMastery {
  font-size: 0.95rem;
  letter-spacing: 0.03rem;
  margin-top: -5px;
}

.blogBtn {
	/*z-index: 10;*/
  display: inline-block;
  margin-top: 5px;
}

.blogBtnStyle {
  border: #e5d9ff solid 2px;
  border-radius: 10px;
  background-color: transparent;
  color: #5d00f8;
  padding: 13.5px 0;
  font-family: "futura-pt",sans-serif;
	font-weight: 600;
  letter-spacing: 0.08rem;
}

.blogBtnStyle a {
	padding: 13.5px 30px;
	border-radius: 8px;
}

.blogBtnStyle a:hover {
	color: #5d00f8;
	background-color: #e5d9ff;
}

.blogBtnStyle a:active {
	color: #5d00f8;
	background-color: #e5d9ff;
}

.blogBtnStyle a:hover {
	/*color: #5d00f8;*/
}



.copyAncient {
  margin-top: 30px;
  font-size: 1rem;
  letter-spacing: 0.08rem;
	font-weight: 500;
}

.copyAncientUp {
  display: block;
  margin-bottom: 5px;
}

.tameYF {
  margin-top: 350px;
}

.Dog {
  height: 150px;
}

.dogLogo {
  height: 100%;
}


.copyTame {
  font-size: 1.1rem;
  letter-spacing: 0.03rem;
}

.copyTamePosition {
  margin-top: -5px;
}

.copyTameExplain {
	font-weight: 500;
  font-size: 1.05rem;
  letter-spacing: 0.08rem;
  line-height: 1.7rem;
}

.copyTameExplain768 {
  display: none;
}


/*_____Section 2_____*/

.sectionTwo {
	margin-top: 1200px;
	text-align: center;
}

.copySectionBird2Container {
	padding-top: 100px;
	padding-bottom: 20px;
	width: 100%;
	margin-top: -1000px;
	height: 1350px;
	background-image: url(img/Pheasant-3percent-Reversed.png);
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -1;
}


.enterNR {
  margin-top: 0px;
}

.sun {
  height: 175px;
}

.sunLogo {
  height: 100%;
}

.copyEnter {
  font-size: 1.1rem;
  letter-spacing: 0.03rem;
}

.copyEnterPosition {
  margin-top: -5px;
}

.copyEnterExplain {
  font-size: 1.05rem;
  letter-spacing: 0.08rem;
  line-height: 1.7rem;
	font-weight: 500;
}

.copyEnterExplain768 {
  display: none;
}

.liveYD {
  margin-top: 450px;
}

.manEagle {
  height: 175px;
}

.manEagleLogo {
  height: 100%;
}

.copyLive {
  font-size: 1.1rem;
  letter-spacing: 0.03rem;
}

.copyLivePosition {
  margin-top: -5px;
}

.copyLiveExplain {
  font-size: 1.05rem;
  letter-spacing: 0.08rem;
  line-height: 1.7rem;
	font-weight: 500;
}


/*-------BOTTOM-_______*/

.greatJourney {
	z-index: 10;
  margin-top: 450px;
  text-align: center;
}

.copyGreat {
  font-size: 1.1rem;
  letter-spacing: 0.03rem;
}

.copyGreatExplain {
  margin-top: 30px;
  font-size: 1rem;
  letter-spacing: 0.1rem;
	font-weight: 500;
}

.bottom {
  margin-top: 500px;
  text-align: center;
  font-size: 1.1rem;
  letter-spacing: 0.08rem;
	font-weight: 600;
}

.socialMediaBottom {
	z-index: 2;
  margin-top: 15px;
  margin-bottom: 30px;
}

.youtubeBtm {
  width: 25px;
  height: 19px;
}

.instagramBtm {
  width: 20px;
  height: 22px;
  margin-left: 20px;
  margin-right: 20px;
}

.behanceBtm {
  width: 25px;
  height: 20px;
}

.allThreeIcons {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialIconsBtm {
  width: 100%;
}

/*-------MEDIA--------*/


@media (min-width: 361px) {
  .copyHeadline {
    font-size: 2.5rem;
  }

  .emailInput {
    width: 190px;
  }

  .joinBtn {
    width: 110px;
  }

  .copySelfMastery {
    font-size: 1.1rem;
  }

  .copyTameExplain {
    font-size: 1.1rem;
		font-weight: 500;
  }

  .copyEnterExplain {
    font-size: 1.1rem;
		font-weight: 500;
  }

  .copyLiveExplain {
    font-size: 1.1rem;
		font-weight: 500;
  }

  .menuContainer320 {
    font-size: 0.9rem;
  }

  .bottom768Placement {
    display: none;
  }

}

@media (min-width: 600px){

  .menuContainer320 {
    display: none;
  }

  .menuContainer768 {
    padding-top: 60px;
    background-color: #221f29;
    /*background-image: url(img/Pheasant-3percent.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;*/
    height: 89vh;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    letter-spacing: 0.07rem;
    line-height: 2rem;
    font-weight: 600;
		flex-wrap: wrap;
  }

  .colWrapper {
    padding-top: 30px;
  }

  .separator {
    width: 12px;
  }

  .resonateWith {
    margin-left: 38px;
  }

  .ulBlock {
		line-height: 2rem;
    font-size: 1.1rem;
  }

  .ulBlock li a:hover {
    border-bottom: solid 2px #e5d9ff;
    border-radius: 1px;
  }

  .socialMediaMenu360 {
    display: none;
  }

  .bottom768Placement {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .bottom768 {
    display: inline-block;
    position: fixed;
		margin-top: 45px;
    text-align: center;
    font-size: 1.1rem;
    letter-spacing: 0.08rem;
  }

  .filterBy {
    margin-top: 0px;
  }
}


@media (min-width: 768px) {

  .navBar {
    height: 80px;
  }

  .logoFuture {
    padding-top: 2px;
    width: 90px;
    height: 18px;
  }

  .logoPNG {
    width: 100%;
  }


  .headerContainer {
    z-index: 3;
    height: 100vh;
    width: 80%;
    display: flex;
  }

  .header {
    height: 100vh;
    margin: 0;
    display: flex;
  }

  .headerContent {
    margin-left: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .copyHeadline {
    font-size: 3.3rem;
    letter-spacing: 0.005px;
    font-weight: 700;
    margin: 0;
  }

  .copySlogan {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1.65px;
    margin-bottom: 0.7rem;
  }

  .copySlogan br {
    content: ' '
  }

  .copySlogan br:after {
    content: ' '
  }

  .emailInput {
    width: 285px;
    border: #e5d9ff solid 2px;
    border-radius: 10px 0 0 10px;
    background-color: transparent;
    font-family: "futura-pt",sans-serif;
		font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 1.2px;
    padding: 13px 10px 13px 15px;
  }


  .joinBtn {
    margin-left: -5px;
    width: 150px;
    background-color: #e5d9ff;
    border: #e5d9ff solid 2px;
    border-radius: 0 10px 10px 0;
    padding: 13px 10px 13px 15px;
    font-family: "futura-pt",sans-serif;
		font-weight: 600;
    font-size: 1.1rem;
    color: #5d00f8;
  }

  .copyFollow {
    display: none;
  }

  .copyFollow768 {
    display: inline-block;
    margin-top: 1.5rem;
    font-size: 1rem;
    letter-spacing: 0.10rem;
    font-weight: 600;
    line-height: 1.5rem;
  }

  .copySectionBird1Container {
		height: 1550px;
    margin-top: 300px;
  }

  .copySeekers {
		margin-top: 650px;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
  }

  .copySelfMastery {
    font-size: 1.7rem;
    letter-spacing: 0.03rem;
    margin-top: -22px;
  }

  .blogBtn {
    display: inline-block;
    margin-top: 15px;
  }

  .copyAncient {
    margin-top: 50px;
    font-size: 1.2rem;
    letter-spacing: 0.08rem;
  }

  .copyAncientUp {
    display: block;
    margin-bottom: 5px;
  }

  /*----section 2----*/

	.tameYF {
	  margin-top: 300px;
	}

  .Dog {
    height: 175px;
  }

  .dogLogo {
    height: 100%;
  }

  .copyTame {
    font-size: 1.7rem;
    letter-spacing: 0.03rem;
  }

  .copyTameExplain {
    display: none;
  }

  .copyTameExplain768 {
    display: inline-block;
    font-size: 1.2rem;
    letter-spacing: 0.08rem;
    line-height: 1.7rem;
		font-weight: 500;
  }

	.copySectionBird2Container {
		height: 1550px;
		/*margin-top: 300px;*/
	}

  .sun {
    height: 200px;
  }

  .sunLogo {
    height: 100%;
  }

	.enterNR {
		margin-top: 80px;
	}

  .copyEnter {
    font-size: 1.7rem;
    letter-spacing: 0.03rem;
  }

  .copyEnterExplain {
    display: none;
  }

  .copyEnterExplain768 {
    display: inline-block;
    font-size: 1.2rem;
    letter-spacing: 0.08rem;
    line-height: 1.7rem;
		font-weight: 500;
  }

  .manEagle {
    height: 195px;
  }

  .manEagleLogo {
    height: 100%;
  }


	.liveYD {
	  margin-top: 500px;
	}

  .copyLive {
    font-size: 1.7rem;
    letter-spacing: 0.03rem;
  }

	.copyLiveExplain {
		display: inline-block;
		font-size: 1.2rem;
		letter-spacing: 0.08rem;
		line-height: 1.7rem;
		font-weight: 500;
	}

  .greatJourney {
    margin-top: 500px;
    text-align: center;
  }

  .copyGreat {
    font-size: 1.7rem;
    letter-spacing: 0.03rem;
  }

  .copyGreatExplain {
    margin-top: 50px;
    font-size: 1.2rem;
    letter-spacing: 0.08rem;
    margin-bottom: 35px;
		font-weight: 500;
  }

  .bottom {
    margin-top: 600px;
    text-align: center;
    font-size: 1.1rem;
    letter-spacing: 0.08rem;
  }

}


@media (min-width: 1024px) {

  .navBar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    height: 100vh;
    width: 80px;
    background-color: #221f29;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navContent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95%;
    width: 100%;
  }


  .hamburger {
    align-self: flex-start;
  }

  .ul800 {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
		margin-top:
    margin: 0;
    transform: rotate(-90deg);
    z-index: 6;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
		font-weight: 600;
  }

  .WoL {
    text-decoration: none;
    /*align-self: flex-start;*/
    list-style: none;
    width: 111px;
		margin: 0 60px;
  }

  .WoL a:hover {
    border-bottom: solid 2px #e5d9ff;
    border-radius: 1px;
  }

  .FB a:hover {
    border-bottom: solid 2px #e5d9ff;
    border-radius: 1px;
  }

  .FB {
    text-decoration: none;
    align-self: flex-end;
    list-style: none;
		width: 83px;
    /*margin-right: 140px;*/
  }

  .FB a {
    /*padding-bottom: 2px;*/
  }

	.TC {
		/*margin-left: 60px;*/
		text-decoration: none;
		align-self: flex-start;
		list-style: none;
		width: 89px;
	}

	.TC a:hover {
		border-bottom: solid 2px #e5d9ff;
		border-radius: 1px;
	}

	/*.TC a {
		padding-bottom: 2px;
	}*/

  /*------MENU-----*/


  .menuContainer768 {
    display: none;
  }

  .menu {
    margin-top: 0px;
    z-index: 4;
  }

  .menuWrapper1024 {
    padding-right: 80px;
    background-color: #221f29;
    height: 100vh;
    font-size: 1.1rem;
    letter-spacing: 0.07rem;
    line-height: 2rem;
    font-weight: 600;
  }

  .menuContainer1024{
    display: flex;
    justify-content: center;
  }

  .logoPlacement {
    width: 100vw;
    height: 20%;
    margin-left: 6%;
    display: flex;
    align-items: center;
  }

  .logoFuture {
    display: none;
  }

  .logoFuture1024 {
    width: 150px;
    height: 30px;
  }

  .logoPNG1024 {
    width: 100%;
  }

  .colWrapper {
    padding-top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 6%;
  }

  .colLeft {
    display: flex;
    justify-content: space-between;
    width: 53%;
    /*margin-right: 7%;*/
  }

  .colWidth {
    width: 149px;
  }

  .ulBlock {
    font-size: 1.2rem;
		line-height: 2rem;
  }

  .resonateWith {
    margin-left: 0px;
  }

  .colRight {
    width: 42%;
  }

  .padColRight {
    padding-left: 8%;
  }

  .newletter {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }

  .copySloganMENU {
    margin-top: 0;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 1.65px;
    margin-bottom: 0.7rem;
    line-height: 1.3rem;
  }

  .emailInputMENU {
    margin-top: 25px;
    width: 190px;
    border: #e5d9ff solid 2px;
    border-radius: 10px 0 0 10px;
    background-color: transparent;
    font-family: "futura-pt",sans-serif;
		font-weight: 500;
    font-size: 1rem;
    letter-spacing: 1.2px;
    padding: 10px 5px 10px 15px;
  }

  .joinBtnMENU {
    margin-left: -8px;
    width: 120px;
    background-color: #e5d9ff;
    border: #e5d9ff solid 2px;
    border-radius: 0 10px 10px 0;
    padding: 10px 5px 10px 8px;
    font-family: "futura-pt",sans-serif;
		font-weight: 600;
    font-size: 1rem;
    color: #5d00f8;
  }

  .copyFollow768MENU {
    margin-top: 1.2rem;
    font-size: 0.75rem;
    letter-spacing: 0.10rem;
    font-weight: 600;
    line-height: 1.4rem;
  }

  .bottom768MENU {
    margin-top: -130px;
  }

	.bottom768 {
		display: none;
	}

	.bottom1024 {
		display: inline-block;
		position: fixed;
		bottom: 0;
		text-align: center;
		font-size: 1.1rem;
		letter-spacing: 0.08rem;
	}

  /*------MENU END------*/

	.copySectionBird1Container {
		margin-top: -850px;
		height: 1850px;
	}

	.copySeekers {
		margin-top: 900px;
	}


	.blogBtn {
    margin-top: 5px;
  }

  .dogLogo {
    display: none;
  }


  .sectionTwo {
    text-align: inherit;
  }

  .tameYF {
    margin-top: 420px;
    display: flex;
    justify-content: center;
  }

  .Dog {
    background-image: url(img/Dog.png);
    background-repeat: no-repeat;
    height: 300px;
  }

  .copyTame {
    font-size: 1.7rem;
    letter-spacing: 0.03rem;
    margin-left: 225px;
    padding-top: 45px;
  }

  .copyTamePosition {
    margin-top: -5px;
    margin-left: 315px;
		text-align: left;
  }

  .copyTameExplain {
    font-size: 1.2rem;
    letter-spacing: 0.08rem;
    line-height: 1.7rem;
  }

	.copySectionBird2Container {
		height: 1850px;
	}

  .enterNR {
    margin-top: 0px;
    display: flex;
    justify-content: center;
  }

  .sunLogo {
    display: none;
  }

  .sun {
    background-image: url(img/Sun.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 350px;
  }

  .copyEnter {
    font-size: 1.7rem;
    letter-spacing: 0.03rem;
    margin-right: 260px;
    padding-top: 85px;
  }

  .copyEnterPosition {
    margin-top: -10px;
    margin-right: 260px;
    text-align: right;
  }

  .copyEnterExplain {
    font-size: 1.2rem;
    letter-spacing: 0.08rem;
    line-height: 1.7rem;
  }

  .liveYD {
    margin-top: 200px;
    display: flex;
    justify-content: center;
  }

  .manEagleLogo {
    display: none;
  }

  .manEagle {
    background-image: url(img/ManEagle.png);
    background-repeat: no-repeat;
    height: 350px;
  }

  .copyLive {
    font-size: 1.7rem;
    letter-spacing: 0.03rem;
    margin-left: 310px;
    padding-top: 54px;
  }

  .copyLivePosition {
    margin-top: -7px;
    margin-left: 312px;
  }

  .copyLiveExplain {
    font-size: 1.2rem;
    letter-spacing: 0.08rem;
    line-height: 1.7rem;
  }

  .copyGreat br {
    content: ' '
  }

  .copyGreat br:after {
    content: ' '
  }

  .greatJourney {
    margin-top: 400px;
  }

  .bottom {
    margin-top: 150px;
  }
}

@media (min-width: 1150px) {

  .copySelfMastery br {
    content: ' '
  }

  .copySelfMastery br:after {
    content: ' '
  }

	.copySloganMENU br {
		content: ' '
	}

	.copySloganMENU br:after {
		content: ' '
	}

}

@media (min-width: 1175px) {


  .colRight {
    margin-left: 8%;
    width: 45%;
  }

  .padColRight {
    padding-left: 14%;
  }

  .copySloganMENU {
    font-size: 1rem;
  }

  .copySloganMENU br {
    content: ' '
  }

  .copySlogan br:after {
    content: ' '
  }

  .emailInputMENU {
    width: 210px;
  }

  .joinBtnMENU {
    width: 130px;
  }

  .copyFollow768MENU {
    font-size: 0.82rem;
  }
}
