{{> head}}

<div class="bottom">

    <div class="marketing">
        <div class="marketingPlacement">
            <div class="copyFollow700">
                <span>Oops!</span>
                <p>We couldn't find the page you are looking for :(</p>
            </div>
            <div class="blogBtn">
                <button class="blogBtnStyle" type="button" name="button"><a href="blog.html">Back to Blog</a></button>
            </div>
          </div>
        </div>


<script type="text/javascript" src="../../app/app.js"></script>



</body>
</html>
