{{> head}}
  {{> navbar}}

    <div class="content">
      <div class="contentContainer">

        <div class="logo1024">
          <a href="/blog/"><img src="/assets/img/FutureboyLogo-v2.png" alt=""></a>
        </div>

        <div class="filters">
          <div class="filtersPlacement">
            <ul class="ulTop1024">
              <li><a href="#">Books</a></li>
              <li><a href="#">Consciousness</a></li>
              <li><a href="#">Good Food</a></li>
              <li><a href="#">Music</a></li>
              <li><a href="#">Startup journey</a></li>
              <li><a href="#">Travel</a></li>
              <li><a href="#">Visual arts</a></li>
            </ul>
          </div>
        </div>

        <div class="articleIMG">
          <div class="articleImgPlacement">
            <img src="{{article.thumbnail.src}}" alt="">
          </div>
        </div>

          <div class="articleData">
            <div class="articleDataPlacement">
              <div class="postCategories">
                <span><a href="#">{{article.subject}}</a>&nbsp&nbsp • &nbsp&nbsp<a href="#">{{article.category}}</a>&nbsp&nbsp • &nbsp&nbsp<a href="#">{{article.author.username}}</a></span>
              </div>
              <div class="postTitle">
                <a href="#"><h1>{{article.title}}</h1></a>
              </div>
              <div class="text">
                {{> article_content}}
              </div>
            </div>
          </div>

      </div>
    </div>
{{> foot}}
