{{> head}}
  {{> navbar}}

    <div class="content">
      <div class="contentContainer">

        <div class="logo1024">
          <a href="{{routing.phase-one}}"><img src="/assets/img/FutureboyLogo-v2.png" alt=""></a>
        </div>

        <div class="filters"></div>

        <div class="articleIMG">
          <div class="{{article.thumbnail.class}}">
            <img src="{{routing.article}}/{{article.thumbnail.src}}" alt="">
            <span class="imgSubtitle">{{article.thumbnail.subtitle}}</span>
          </div>
        </div>

          <div class="articleData">
            <div class="articleDataPlacement">
              <div class="postCategories">
                <span>{{article.subject}}&nbsp&nbsp • &nbsp&nbsp{{article.category}}&nbsp&nbsp • &nbsp&nbsp{{article.author.firstname}}</span>
              </div>
              <div class="postTitle">
                <h1>{{article.title}}</h1>
              </div>
              <div class="text">
                {{> article_content}}
              </div>
            </div>
          </div>

      </div>
    </div>
{{> footer_article}}
