{{> head}}

<div class="section10">
    <div class="copySectionBird1Container">
        <div class="copySelfMastery">
            <h1>Oops! You're email is already in our database! Please make sure you aren't receiving our emails in your spam folder :)</h1>
        </div>
    </div>
</div>

<div class="section10">
    <div class="feather">
        <div class="featherPlacement">
            <a href="http://human.space"><h1 class="human rainbow">human.space</h1></a>
        </div>
    </div>
</div>

</body>
</html>
