{{> head}}
<body>
  <div class="bottom">
    <div class="marketing">
      <div class="marketingPlacement">
        <div class="copyFollow700">
            <span>Ooo snaps! :O</span>
            <p>Something went wrong on our side! Thanks for stumbling on this, we'll make the necessary corrections :)</p>
        </div>
        <div class="blogBtn">
            <button class="blogBtnStyle" type="button" name="button"><a href="/blog/">Back to Phase-One</a></button>
        </div>
      </div>
    </div>
</body>
</html>
