{{> head}}
    {{> navbar}}

    <div class="content">
      <div class="contentContainer">
        <div class="logo1024">
          <a href="index.html"><img src="/assets/img/FutureboyLogo-v2.png" alt=""></a>
        </div>
        <div class="quoteOfDay">
          <span class="quote320"><h2>To dare is to lose one's footing momentarily. Not to dare is to lose oneself.</h2><span class="quoteAuthor">Søren Kierkegaard</span></span>
          <span class="quote768"><h2>To dare is to lose one's footing momentarily.<br>Not to dare is to lose oneself.</h2><span class="quoteAuthor">Søren Kierkegaard</span></span>
        </div>

        <div id="feed"></div>

      </div>
    </div>
{{> foot}}
