<div class="article">

  <div class="postIMG">
    <div class="{{img_class}}"> <!---PLEASE DELETE THE IMG CLASS YOU WON'T USE--->
      <a href="{{article.url}}"><img src="{{article.thumbnail_url}}" alt=""></a>
      <div class="upper1024">
        <div class="overlayPlacement">


          <a href="blog.html" class="superAnchor">
            <div class="anchorPLACEMENT">
              <div class="articleTITLE">
                <div class="articleTitlePLACEMENT">
                  <h1>{{article.title}}</h1>
                </div>
              </div>
              <div class="articleCATEGORIES">
                <div class="articleCategoriesPLACEMENT">
                  <span>{{article.subject}} &nbsp&nbsp • &nbsp&nbsp {{article.category}} &nbsp&nbsp • &nbsp&nbsp {{article.author.displayName}}</span>
                </div>
              </div>
              <div class="articleSUMMARY">
                <div class="articleSummaryPLACEMENT">
                  <h4>{{article.summary}}</h4>
                </div>
              </div>
              <div class="readMORE">
                <span>Read more</span>
              </div>
            </div>
          </a>


        </div>
      </div>
    </div>
  </div>

  

  <div class="lower1024">
    <div class="postData">
      <div class="postTitle">
        <a href="{{article.url}}"><h1>{{article.title}}</h1></a>
      </div>
      <div class="post">
        <div class="postCategories">
          <span>{{article.subject}}&nbsp&nbsp • &nbsp&nbsp{{article.category}}&nbsp&nbsp • &nbsp&nbsp{{article.author}}</span>
        </div>
        <div class="postSummary">
          <div class="postSummaryFlex">
            <h4>{{article.summary}}</h4>
          </div>
        </div>
        <div class="postReadBtn">
          <a href="{{article.url}}"><span>> </span> &nbspRead more</a>
        </div>
      </div>
    </div>
  </div>

</div>
