<div class="bottom">

    <div class="marketing">
        <div class="marketingPlacement">
          <div class="copyFollow320">
              <span>We do a weekly recap every Monday morning with our golden nuggets from the past week - the stories, reflections and links we saw that were actually interesting, and why they mattered.<br><p>We're learning to live with purpose, and so will you :)</p></span>
          </div>
          <div class="copyFollow700">
              <span>We do a weekly recap every Monday morning with our golden nuggets<br>from the past week - the stories, reflections and links we saw that<br>were actually interesting, and why they mattered.<br><p>We're learning to live with purpose, and so will you :)</p></span>
          </div>
          <div class="emailForm"></div>
        </div>
    </div>

<span class="copyBottom">More of the Good Stuff</span>
    <div class="socialMediaBottom">
        <div class="allThreeIcons">
            <a target="_blank" href="https://www.youtube.com/channel/UC-iEpUtMaRkrF3bS72kKzUA" class="youtubeBtm"><img class="socialIconsBtm" src="../../assets/img/Youtube-lilac.svg" alt=""></a>
            <a target="_blank" href="https://www.instagram.com/maat.space/" class="instagramBtm"><img class="socialIconsBtm" src="../../assets/img/Instagram-lilac.svg" alt=""></a>
            <a target="_blank" href="https://www.behance.net/teammaat" class="behanceBtm"><img class="socialIconsBtm" src="../../assets/img/Behance-lilac.svg" alt=""></a>
        </div>
    </div>
</div>

{{#scripts}}
  <script src="{{.}}"></script>
{{/scripts}}

</body>
</html>
