  <div class="bottom">
      <span class="copyBottom">More Of The Good Stuff</span>
      <div class="socialMediaBottom">
          <div class="allThreeIcons">
              <a target="_blank" href="https://www.youtube.com" class="youtubeBtm"><img class="socialIconsBtm" src="../../assets/img/Youtube-lilac.svg" alt=""></a>
              <a target="_blank" href="https://www.instagram.com/futureboy_hq/" class="instagramBtm"><img class="socialIconsBtm" src="../../assets/img/Instagram-lilac.svg" alt=""></a>
              <a target="_blank" href="https://www.behance.net" class="behanceBtm"><img class="socialIconsBtm" src="../../assets/img/Behance-lilac.svg" alt=""></a>
          </div>
      </div>
  </div>
  <script type="text/javascript" src="../../app/app.js"></script>
</body>
</html>
