<div class="bottom">

    <div class="marketing">
        <div class="marketingPlacement">
            <div class="copyFollow320">
                <span>My friend, if you've read this far, you understand what we're after. You're ready to take on the journey to live from the heart.<p>See you on the other side,<br>and don't forget:<br>We're evolving a lot,<br>and so will you :)</p></span>
            </div>
            <div class="copyFollow700">
                <span>My friend, if you've read this far, you understand what<br>we're after. You're ready to take on the journey<br>to live from the heart.<p>See you on the other side, and don't forget:<br>We're evolving a lot, and so will you :)</p></span>
            </div>
          <div class="emailForm">
              <form action="joinedNewsletter.html">
                <input class="nameInputBottom firstNameInput" type="text" name="firstName" placeholder="Enter your first name" required>
                <input class="nameInputBottom lastNameInput" type="text" name="lastName" placeholder="Enter your last name" required >
                <div class="emailInputBottomPlacement">
                  <input class="emailInputBottom" type="email" value="" placeholder="Enter your email address" required />
                </div>
                <input class="joinBtnBottom" type="submit" value="Subscribe" />
              </form>
          </div>
        </div>
    </div>

<span class="copyBottom">More of the Good Stuff</span>
    <div class="socialMediaBottom">
        <div class="allThreeIcons">
            <a target="_blank" href="https://www.youtube.com" class="youtubeBtm"><img class="socialIconsBtm" src="../../assets/img/Youtube-lilac.svg" alt=""></a>
            <a target="_blank" href="https://www.instagram.com/futureboy_hq/" class="instagramBtm"><img class="socialIconsBtm" src="../../assets/img/Instagram-lilac.svg" alt=""></a>
            <a target="_blank" href="https://www.behance.net" class="behanceBtm"><img class="socialIconsBtm" src="../../assets/img/Behance-lilac.svg" alt=""></a>
        </div>
    </div>
</div>

  <script src="/app/bundle.js"></script>

</body>
</html>
