{{> head}}

  <div class="purpleStroke">
          <div class="header">
              <div class="headerContainer">
                  <div class="headerContent">
                      <div class="copyHeader">
                          <h1 class="copyHeadline">human.space</h1>
                      </div>
                  </div>
              </div>
          </div>
      </div>


      <div class="valueProps">
          <div class="sectionOne">
              <div class="copySectionBird1Container">
                  <div class="copySelfMastery">
                      <h1>smiles.of.life</h1>
                  </div>

              </div>
          </div>
          <div class="sectionTwo">
              <div class="copySectionBird2Container">
                  <div class="enterNR">
                      <div class="sun">
                          <div class="copyEnter">
                              <h1>never.settle</h1>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="bottom">
          <div class="marketing">
              <div class="marketingPlacement">
                  <div class="copyFollow320">
                      <a href="subscribe.html"><h1 class="rainbow">your.weekly.dose</h1></a>
                  </div>
              </div>
          </div>
      </div>
{{> foot}}
