{{> head}}

<div class="section10">
    <div class="feather">
        <div class="featherPlacement">
            <h1 class="human">human.space</h1>
        </div>
    </div>
</div>

<div class="section10">
    <div class="feather">
        <div class="featherPlacement">
            <h1 class="human">smiles.of.life</h1>
        </div>
    </div>
</div>

<div class="section10">
    <div class="feather">
        <div class="featherPlacement">
            <h1 class="human">never.settle</h1>
        </div>
    </div>
</div>



<div class="section10">
    <div class="feather">
        <div class="featherPlacement">
            <a href="{{routing.weeklydose}}"><h1 class="human rainbow">your.weekly.dose</h1></a>
        </div>
    </div>
</div>

{{> footer_bare}}
