{{> head}}
  {{> navbar}}

  <div class="purpleStroke">
      <div class="header">
          <div class="headerContainer">
              <div class="headerContent">
                  <div class="copyHeader">
                      <h1 class="copyHeadline">A Lighthouse For<br>Truth Seekers</h1>
                      <h3 class="copySlogan">Get inspired.<br>Take action.<br>Build your dream.</h3>
                      <div class="socialMedia">
                          <a target="_blank" href="https://www.youtube.com" class="youtube"><img class="socialIcons" src="/assets/img/Youtube-lilac.svg" alt=""></a>
                          <a target="_blank" href="https://www.instagram.com/futureboy_hq/" class="instagram"><img class="socialIcons" src="/assets/img/Instagram-lilac.svg" alt=""></a>
                          <a target="_blank" href="https://www.behance.net" class="behance"><img class="socialIcons" src="/assets/img/Behance-lilac.svg" alt=""></a>
                      </div>
                      <div class="emailForm">
                          <form>
                            <input class="emailInput" type="email" value="" placeholder="Your Email" required />
                            <input class="joinBtn" type="submit" value="Join the Crew" />
                          </form>
                      </div>
                      <div class="copyFollow">
                          <span>Receive a weekly email packed with golden nuggets from our journey to the higher self.<br>We're learning a lot, and so will you.<br>Curated with love, promise :)</span>
                      </div>
                      <div class="copyFollow700">
                          <span>Receive a weekly email packed with golden nuggets<br>from our journey to the higher self.<br>We're learning a lot, and so will you.<br>Curated with love, promise :)</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>


  <div class="valueProps">
      <div class="sectionOne">
          <div class="copySectionBird1Container">
              <div class="copySeekers">
                  <h3>We Are Truth Seekers</h3>
              </div>
              <div class="copySelfMastery">
                  <h1>Futureboy Strives For<br>Self-Mastery</h1>
              </div>
              <div class="blogBtn">
                  <button class="blogBtnStyle" type="button" name="button"><a href="feed.html">Read Blog</a></button>
              </div>
              <div class="copyAncient">
                  <span class="copyAncientUp">Inspired by Ancient Knowledge;</span>
                  <span class="copyAncientDown">Fueled by Flowstates.</span>
              </div>

              <div class="tameYF">
                  <div class="Dog">
                      <img class="dogLogo" src="/assets/img/Dog.png" alt="">
                      <div class="copyTame">
                          <h1>Tame Your Fears</h1>
                      </div>
                      <div class="copyTamePosition">
                          <span class="copyTameExplain">Fears are imagined. They destroy<br>dreams. Join us as we explore ways to overcome & remove them.</span>
                          <span class="copyTameExplain768">Fears are imagined. They destroy dreams.<br>Join us as we explore ways to overcome & remove them.</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="sectionTwo">
          <div class="copySectionBird2Container">
              <div class="enterNR">
                  <div class="sun">
                      <img class="sunLogo" src="/assets/img/Sun.png" alt="">
                      <div class="copyEnter">
                          <h1>Enter A New Reality</h1>
                      </div>
                      <div class="copyEnterPosition">
                          <span class="copyEnterExplain">What you focus on grows.<br>Reality is the reflection of your<br>mind. Cultivate your inner world &<br>your outer world will evolve.</span>
                          <span class="copyEnterExplain768">What you focus on grows.<br>Reality is the reflection of your mind.<br>Cultivate your inner world & your outer world will evolve.</span>
                      </div>
                  </div>
              </div>
              <div class="liveYD">
                  <div class="manEagle">
                      <img class="manEagleLogo" src="/assets/img/ManEagle.png" alt="">
                      <div class="copyLive">
                          <h1>Live Your Dream</h1>
                      </div>
                      <div class="copyLivePosition">
                          <span class="copyLiveExplain">Reconnect with the essence of being.<br>Find your truth. Make it happen &<br>see you in the jungle ;)</span>
                      </div>
                  </div>
              </div>
              <div class="greatJourney">
                  <div class="Pug">
                      <img src="/assets/img/Pug.png" alt="">
                  </div>
                  <div class="copyGreat">
                      <h1>The Great Journey<br>Starts Now</h1>
                  </div>
                  <div class="blogBtn">
                      <button class="blogBtnStyle" type="button" name="button"><a href="feed.html">Read Blog</a></button>
                  </div>
                  <div class="copyGreatExplain">
                      <span>Inpired by Love &<br>Guided by Knowledge</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
{{> foot}}
