{{> head}}

<div class="sectionOne">
    <div class="feather">
        <div class="featherPlacement">
            <h1>Thanks for your trust!</h1>
            <h5>We still have some info for you, keep scrolling ;)</h5>
        </div>
    </div>
</div>

<div class="section2">
    <div class="copySectionBird1Container">
        <div class="copySelfMastery">
            <h1>1. Check your inbox for the confirmation email and click to complete your subscription :)</h1>
        </div>
    </div>
</div>

<div class="section2">
    <div class="copySectionBird1Container">
        <div class="copySelfMastery">
            <h1>2. Once you confirm that you're a fellow human, you'll receive your 1st official email from Gregory (one of our founders) containing the key to enter the rest of the project.</h1>
        </div>
    </div>
</div>

<div class="section3">
    <div class="copySectionBird1Container">
        <div class="copySelfMastery">
            <h1>Lastly, don't forget to message your best friends about <u><a href="http://human.space" class="rainbow">human.space</a></u>, they'll appreciate, and us too :)</h1>
        </div>
    </div>
</div>

<div class="section2">
    <div class="copySectionBird1Container">
        <div class="copySelfMastery">
            <h1>Thank you very much,</h1>
            <h1><br> <br>Have a wonderful day!</h1>
            <h1><br> <br> Cheers</h1>
        </div>
    </div>
</div>


<div class="section4">
    <div class="feather">
        <div class="featherPlacement">
            <a href="http://human.space"><h1 class="human rainbow">human.space</h1></a>
        </div>
    </div>
</div>


</body>
</html>
