{{> head}}

<div class="section10">
    <div class="copySectionBird1Container">
        <div class="copySelfMastery">
            <h1>Thanks for your trust!</h1>
            <h5>We still have some info for you, keep scrolling :) </h5>
        </div>
    </div>
</div>

<div class="section10">
    <div class="copySectionBird1Container">
        <div class="copySelfMastery">
            <h1>1. Check your inbox for the confirmation email and click to complete your subscription. It's our way to make sure that you're a real fellow human! :)</h1>
        </div>
    </div>
</div>

<div class="section10">
    <div class="copySectionBird1Container">
        <div class="copySelfMastery">
            <h1>2. You'll then receive your 1st official email from Gregory (one of our founders). He'll introduce you to the rest of the team!</h1>
        </div>
    </div>
</div>

<div class="section10">
    <div class="copySectionBird1Container">
        <div class="copySelfMastery">
            <h1>3. Please make sure that you are receiving our emails in your main inbox and not the spam folder.</h1>
        </div>
    </div>
</div>

<div class="section10">
    <div class="copySectionBird1Container">
        <div class="copySelfMastery">
            <h1>Lastly, can you DM your best friends about <a href="http://human.space" class="rainbow">human.space</a> & the quest to pursue Smiles of Life?</h1>
        </div>
    </div>
</div>

<div class="section10">
    <div class="copySectionBird1Container">
        <div class="copySelfMastery">
            <h1>It would be super appreciated! Plus, isn't time for all of us to unite and work together to bring back universal harmony on this planet? :D</h1>
        </div>
    </div>
</div>

<div class="section10">
    <div class="copySectionBird1Container">
        <div class="copySelfMastery">
            <h1>Thank you very much!</h1>
        </div>
    </div>
</div>

<div class="section10">
    <div class="copySectionBird1Container">
        <div class="copySelfMastery">
            <h1>Have a wonderful day!</h1>
        </div>
    </div>
</div>


<div class="section10">
    <div class="feather">
        <div class="featherPlacement">
            <a href="http://human.space"><h1 class="human rainbow">human.space</h1></a>
        </div>
    </div>
</div>


</body>
</html>
