{{> head}}

<div class="bottom">

    <div class="marketing">
        <div class="marketingPlacement">
            <div class="copyFollow700">
                <span>Thanks for subscribing!</span>
                <p>We just sent you an email with some important details.<br>Make sure you check it out :)</p>
            </div>
            <div class="blogBtn">
                <button class="blogBtnStyle" type="button" name="button"><a href="/blog/">Back to Phase-One</a></button>
            </div>
          </div>
        </div>

<span class="copyBottom">More of the Good Stuff</span>
    <div class="socialMediaBottom">
        <div class="allThreeIcons">
            <a target="_blank" href="https://www.youtube.com" class="youtubeBtm"><img class="socialIconsBtm" src="/assets/img/Youtube-lilac.svg" alt=""></a>
            <a target="_blank" href="https://www.instagram.com/maat.space" class="instagramBtm"><img class="socialIconsBtm" src="/assets/img/Instagram-lilac.svg" alt=""></a>
            <a target="_blank" href="https://www.behance.net" class="behanceBtm"><img class="socialIconsBtm" src="/assets/img/Behance-lilac.svg" alt=""></a>
        </div>
    </div>
  </div>


</body>
</html>
