{{> head}}

<div class="section10">
    <div class="copySectionBird1Container">
        <div class="copySelfMastery">
            <h1>Thanks for your trust!</h1>
            <h5>We still have some info for you, keep scrolling :) </h5>
        </div>
    </div>
</div>

<div class="section10">
    <div class="copySectionBird1Container">
        <div class="copySelfMastery">
            <h1>1. Check your inbox for the confirmation email and click to complete your subscription. It allows us to confirm that you're a real fellow human! :)</h1>
        </div>
    </div>
</div>

<div class="section10">
    <div class="copySectionBird1Container">
        <div class="copySelfMastery">
            <h1>2. You'll then receive your 1st official email from Gregory (one of our founders). He'll introduce you to the rest of the team!</h1>
        </div>
    </div>
</div>

<div class="section10">
    <div class="copySectionBird1Container">
        <div class="copySelfMastery">
            <h1>3. Please make sure that we aren't coming into your spam folder and that you are receiving us in your main inbox. It really makes a huge difference for us, thanks for your trust :)</h1>
        </div>
    </div>
</div>

<div class="section10">
    <div class="copySectionBird1Container">
        <div class="copySelfMastery">
            <h1>Lastly, can you send a message to your best friends about <a href="http://human.space" class="rainbow">human.space</a> & the quest to pursue Smiles of Life?</h1>
        </div>
    </div>
</div>

<div class="section10">
    <div class="copySectionBird1Container">
        <div class="copySelfMastery">
            <h1>It would be super appreciated, and we strongly believe that the time for change has come on this planet. In fact, it's time for all of us to unite and work together to bring back universal harmony! :D</h1>
        </div>
    </div>
</div>

<div class="section10">
    <div class="copySectionBird1Container">
        <div class="copySelfMastery">
            <h1>Thank you very much!</h1>
        </div>
    </div>
</div>

<div class="section10">
    <div class="copySectionBird1Container">
        <div class="copySelfMastery">
            <h1>Have a wonderful day!</h1>
        </div>
    </div>
</div>


<div class="section10">
    <div class="feather">
        <div class="featherPlacement">
            <a href="http://human.space"><h1 class="human rainbow">human.space</h1></a>
        </div>
    </div>
</div>


</body>
</html>
