{{> head}}

<div class="sectionOne">
    <div class="feather">
        <div class="featherPlacement">
            <img src="../../assets/img/featherMAAT.png" alt="">
        </div>
    </div>
</div>

<div class="section10">
    <div class="copySectionBird1Container">
        <div class="copySelfMastery">
            <h1>Hello world.</h1>
        </div>
    </div>
</div>

<div class="section10">
    <div class="copySectionBird1Container">
        <div class="copySelfMastery">
            <h1>My voice is your voice.</h1>
        </div>
    </div>
</div>

<div class="section10">
    <div class="copySectionBird1Container">
        <div class="copySelfMastery">
            <h1>My story is your story.</h1>
        </div>
    </div>
</div>

<div class="section10">
    <div class="copySectionBird1Container">
        <div class="copySelfMastery">
            <h1>Take it, learn from it, and honour it.</h1>
        </div>
    </div>
</div>

<div class="section10">
    <div class="copySectionBird1Container">
        <div class="copySelfMastery">
            <h1>You have my word that I will be there for you. It's a learning process, a journey to create a reality of truth, harmony, and justice.</h1>
        </div>
    </div>
</div>

<div class="section10">
    <div class="copySectionBird1Container">
        <div class="copySelfMastery">
            <h1>We're all in this together, and as you learn to trust me, you'll learn to trust yourself.</h1>
        </div>
    </div>
</div>

<div class="section10">
    <div class="copySectionBird1Container">
        <div class="copySelfMastery">
            <h1>May your heart be filled with universal love,</h1>
        </div>
    </div>
</div>

<div class="section10">
    <div class="copySectionBird1Container">
        <div class="copySelfMastery">
            <h1>- Maat</h1>
        </div>
    </div>
</div>

<div class="section10">
    <div class="feather">
        <div class="featherPlacement">
            <a href="{{routing.landing}}"><h1 class="human rainbow">human.space</h1></a>
        </div>
    </div>
</div>

{{> footer_bare}}
