{{> head}}

<div class="sectionOne">
    <div class="feather">
        <div class="featherPlacement">
            <img src="../../assets/img/featherMAAT.png" alt="">
        </div>
    </div>
</div>

<div class="section2">
    <div class="copySectionBird1Container">
        <div class="copySelfMastery">
            <h1>Hello world.</h1>
        </div>
    </div>
</div>

<div class="section2">
    <div class="copySectionBird1Container">
        <div class="copySelfMastery">
            <h1>Our voice is your voice.</h1>
        </div>
    </div>
</div>

<div class="section3">
    <div class="copySectionBird1Container">
        <div class="copySelfMastery">
            <h1>Our story is your story.</h1>
        </div>
    </div>
</div>

<div class="section2">
    <div class="copySectionBird1Container">
        <div class="copySelfMastery">
            <h1>Take it, learn from it, and honour it.</h1>
        </div>
    </div>
</div>

<div class="section3">
    <div class="copySectionBird1Container">
        <div class="copySelfMastery">
            <h1>You have our word that Maat will be there for you. It's a learning process, a journey to create a reality of truth, harmony, and justice.</h1>
        </div>
    </div>
</div>

<div class="section4">
    <div class="copySectionBird1Container">
        <div class="copySelfMastery">
            <h1>We're all in this together, and as you learn to trust us, you'll learn to trust yourself.</h1>
        </div>
    </div>
</div>

<div class="section5">
    <div class="copySectionBird1Container">
        <div class="copySelfMastery">
            <h1>May your heart be filled with love,</h1>
        </div>
    </div>
</div>

<div class="section4">
    <div class="copySectionBird1Container">
        <div class="copySelfMastery">
            <h1>- Maat</h1>
        </div>
    </div>
</div>

<div class="section4">
    <div class="feather">
        <div class="featherPlacement">
            <a href="http://human.space"><h1 class="human rainbow">human.space</h1></a>
        </div>
    </div>
</div>
{{> footer_bare}}
