<div class="navBar">
    <div class="navContent"  data-topbar data-options="scrolltop:false">
        <div class="logoFuture">
            <a href="{{routing['phase-one']}}"><img class="logoPNG"src="/assets/img/FutureboyLogo-v2.png" alt=""></a>
        </div>
        <div class="hamburger"></div>
    </div>
    <ul class="ul800">
        <li class="WoL"><a href="{{routing.vision}}"><span>Vision</span></a></li>
        <li class="FB"><a href="{{routing['phase-one']}}"><span>Phase One</span></a></li>
        <li class="TC"><a href="{{routing.team}}"><span>Team</span></a></li>
    </ul>
</div>

<div class="menu">
        <div class="topSection"></div>
        <div class="menuContainer320 slideDown" id="sliding">
            <div class="colWrapper">
                <div class="leftCol">
                    <div class="exploreSection"></div>
                    <div class="filterBy"></div>
                </div>
                <div class="rightCol">
                    <div class="resonateWith"></div>
                </div>
            </div>
            <div class="socialMedia360 socialMediaMenu360">
                <a target="_blank" href="https://www.youtube.com/channel/UC-iEpUtMaRkrF3bS72kKzUA" class="youtube"><img class="socialIcons" src="/assets/img/Youtube-lilac.svg" alt=""></a>
                <a target="_blank" href="https://www.instagram.com/maat.space/" class="instagram"><img class="socialIcons" src="/assets/img/Instagram-lilac.svg" alt=""></a>
                <a target="_blank" href="https://www.behance.net/teammaat/teammaat" class="behance"><img class="socialIcons" src="/assets/img/Behance-lilac.svg" alt=""></a>
            </div>
        </div>

        <div class="menuContainer768 slideDown">
            <div class="colWrapper">
                <div class="exploreSection"></div>
                <div class="resonateWith"></div>
                <div class="filterBy"></div>
            </div>
            <div class="bottom768Placement">
                <div class="bottom768">
                    <span class="copyBottom">More Of The Good Stuff</span>
                        <div class="socialMediaBottom">
                        <div class="allThreeIcons">
                            <a target="_blank" href="https://www.youtube.com/channel/UC-iEpUtMaRkrF3bS72kKzUA" class="youtubeBtm"><img class="socialIconsBtm" src="/assets/img/Youtube-lilac.svg" alt=""></a>
                            <a target="_blank" href="https://www.instagram.com/maat.space/" class="instagramBtm"><img class="socialIconsBtm" src="/assets/img/Instagram-lilac.svg" alt=""></a>
                            <a target="_blank" href="https://www.behance.net/teammaat/teammaat" class="behanceBtm"><img class="socialIconsBtm" src="/assets/img/Behance-lilac.svg" alt=""></a>
                            </div>
                        </div>
                </div>
            </div>
        </div>

        <div class="menuWrapper1024 slideLeft">
            <div class="logoPlacement">
                <div class="logoFuture1024">
                    <!-- <img class="logoPNG1024"src="/assets/img/FutureboyLogo-v2.png" alt=""> -->
                </div>
            </div>
            <div class="menuContainer1024">
                <div class="colWrapper">
                    <div class="colLeft">
                        <div class="exploreSection"></div>
                        <div class="resonateWith"></div>
                        <div class="filterBy"></div>
                    </div>
                    <div class="colRight">
                        <div class="padColRight">
                            <h1 class="newletter">Contact Us</h1>
                            <h3 class="copySloganMENU">team@maat.space</h3>
                            <!-- <div class="emailFormMENU">
                                <form>
                                  <input class="emailInputMENU" type="email" value="" placeholder="Your Email" required />
                                  <input class="joinBtnMENU" type="submit" value="Join the Crew" />
                                </form>
                            </div> -->
                            <div class="copyFollow768MENU">
                                <span>We're always looking to improve your experience,<br>and would love to hear from you! Don't hesitate<br>to shoot us a question, or feedback! Cheers!</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom1024">
                    <span class="copyBottom">More Of The Good Stuff</span>
                        <div class="socialMediaBottom">
                        <div class="allThreeIcons">
                            <a target="_blank" href="https://www.youtube.com/channel/UC-iEpUtMaRkrF3bS72kKzUA" class="youtubeBtm"><img class="socialIconsBtm" src="/assets/img/Youtube-lilac.svg" alt=""></a>
                            <a target="_blank" href="https://www.instagram.com/maat.space/" class="instagramBtm"><img class="socialIconsBtm" src="/assets/img/Instagram-lilac.svg" alt=""></a>
                            <a target="_blank" href="https://www.behance.net/teammaat" class="behanceBtm"><img class="socialIconsBtm" src="/assets/img/Behance-lilac.svg" alt=""></a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
