{{> head}}

<div class="bottom">

  <div class="marketing">
      <div class="marketingPlacement">
        <div class="copyFollow320">
          <div class="firstPart">
            <div class="firstPartPlacement">
              <h3>Get your weekly</h3>
              <h1>Dose of Purpose</h1>
              <span>Every Monday morning, you'll receive our golden nuggets from the past week. Here's what to expect:</span>
            </div>
          </div>
          <div class="secondPart">
            <ul>
              <li>The best stories we've<br>experienced & lessons learned.</li>
              <li>Top links that were actually interesting, and why they mattered.</li>
              <li>Our most meaningful reflections.</li>
            </ul>
          </div>

        </div>
        <div class="copyFollow1024">
          <div class="firstPart">
            <div class="firstPartPlacement">
              <h3>Get your weekly</h3>
              <h1>Dose of Purpose</h1>
              <span>Every Monday morning, you'll receive our golden nuggets<br>from the past week. Here's what to expect:</span>
            </div>
          </div>
          <div class="secondPart">
            <ul>
              <li>Our most meaningful reflections.</li>
              <li>The best stories we've experienced<br>and lessons learned.</li>
              <li>Top links that were actually interesting,<br>and why they mattered.</li>
            </ul>
          </div>
        </div>

        <div class="emailForm">
          <h3 class="learning">We're learning to live with purpose, so will you :)</h3>
            <form action="joinedNewsletter.html">
              <input class="nameInputBottom firstNameInput" type="text" name="firstName" placeholder="Enter your first name" required>
              <!-- <input class="nameInputBottom lastNameInput" type="text" name="lastName" placeholder="Enter your last name" required > -->
              <div class="emailInputBottomPlacement">
                <input class="emailInputBottom" type="email" value="" placeholder="Enter your email address" required />
              </div>
              <input class="joinBtnBottom" type="submit" value="I'm in!" />
            </form>
        </div>
      </div>
  </div>

<span class="copyBottom">Or, if you're not sure yet, you can go back to</span>
    <div class="socialMediaBottom">
        <div class="allThreeIcons">
            <a href="/blog/">phase-one.maat.space</a>
        </div>
    </div>
</div>

{{#scripts}}
  <script src="{{.}}"></script>
{{/scripts}}

</body>
</html>
