{{> head}}


<div class="article">
  <div class="articlePlacement">
    <div class="text">
            <h3>At human.space, we’re fighting a peaceful war against lost potential.</h3>
            <p>As humans, we believe it’s our right to forge our own path in life & our duty to work for it. And that even though it's going to be rough sometimes, it's our responsibility to keep pushing.</p>
            <p>We're all in this together & human.space is there for you every step of the way. On that positive note, let's introduce you to our 3 commandments human.space stands for.</p>
            <h3>#1 - Find your path: Pursuing Smiles of Life</h3>
            <p>In this human space, we're all about self-discovery, digging into our subconscious mind, learning & growing. We respect this sacred process more than anything else, so we might live the deepest human experience possible and connect to our life’s path.</p>
            <p>We have a compass which can guide us to that life path. It’s an inner voice, which itself has many forms: Intuitions, inclinations, visions & dreams — but most importantly:</p>
            <p>The Smile Of Life.</p>
            <p>The Smile of Life is an instinctive experience of personal truth. Do whatever the you want with it, but once you touch it, going back is going against yourself.</p>
            <p>That is the human.space currency. We share Smiles of Life.</p>
            <h3>#2 - Master yourself: The Mental Game</h3>
            <p>Here’s the thing: following Smiles of Life is a quest filled with inner obstacles.</p>
            <p>This beautiful quest forces us to chase limiting beliefs from our minds, tame our egos, conquer our fears, remove doubts, procrastination & negativity. Doing that mental work allows us to foster inner peace & harmony with the world, which represents an integral part of our holistic view of the human life.</p>
            <h3>#3 — Master Your Craft: The Skill Game</h3>
            <p>We seek mastery as a way to move the world forward. Skill gives weight to our dreams, materializing our visions into the real world, where it can have an impact on generations to come.</p>
            <p>We believe that the Renaissance ideal of the Universal Human is not dead. We believe in mastering many fields. Connecting the dots is the way of the future. We will push our creations further through respect for the craft.</p> <p>We will seek to innovate, never settling for the status quo.</p>
            <h3>Your Next Step</h3>
            <p>All right, if you're reading this, then you understand that we're all about going deeper into human life & pushing away self-imposed limits :)</p>
            <p>The ultimate goal is for you to learn from our mistakes & successes, and use the valuable insights while to pursue YOUR Smiles of Life.</p>
            <h3>So, what's the Weekly Dose about?!</h3>
            <p>Every Monday morning, you'll receive golden nuggets from our little bot Dos[é]. Here's what to expect:</p>
            <p>1. Pursuing Smiles Of Life makes for great stories, lesson & wisdom. We’ll be sharing our “best of” with you.</p>
            <p>2. Links to the best content we’ve found — and why it matters.</p>
            <p>3. Our most meaningful reflections on books, consciousness, good food, music, our startups, and visual arts — all in the hope to help you find your path, master yourself, and master your crafts.</p>
            <p>That's it. It all starts with the Weekly Dose.</p>
            <h3 class="rainbow">It's your turn now. Are you in?</h3>
            <p>If you're in, just click our awesome little bot Dos[é] to receive the Weekly Dose straight to your Messenger app.</p>
        </div>
    </div>
</div>

<div class="bottom">
    <div class="bottomPlacement">
        <div class="all material">
            <span class="copyBottom"></span>
            <div class="socialMediaBottom">
                <div class="allThreeIcons">
                    <!-- <a target="_blank" href="https://www.youtube.com" class="youtubeBtm"><img class="socialIconsBtm" src="../../assets/img/Youtube-lilac.svg" alt=""></a> -->
                    <a target="_blank" href="https://www.m.me/weekly.dose.delivery?ref=of.course" class="instagramBtm"><img class="socialIconsBtm" src="../../assets/img/Dose.png" alt=""></a>
                    <!-- <a target="_blank" href="https://www.behance.net" class="behanceBtm"><img class="socialIconsBtm" src="../../assets/img/Behance-lilac.svg" alt=""></a> -->
                </div>
            </div>

        </div>
    </div>
</div>


{{> footer_bare}}
