

<div class="content">
<div class="contentContainer">

  <div class="logo1024">
    <a href="index.html"><img src="../../assets/img/FutureboyLogo-v2.png" alt=""></a>
  </div>

  <!-- <div class="headline">
    <h1>The Crew</h1>
  </div> -->


  <div class="sectionOne">

    <div class="crewIMG768">
      <img class="img320" src="../../assets/img/Crew-Night-640px.JPG" alt="">
      <img class="img768" src="../../assets/img/Crew-Night-1440x.JPG" alt="">
    </div>
    <div class="crewIMG1024">

    </div>

    <div class="imgExplain">
      <div class="imgExplainPlacement">
        <div class="crewSubtitle">
          <h4>The Dream Team</h4>
          <h1>How We Came To Be</h1>
        </div>
        <div class="crewDescription">
          <p>“I was jobless, a lone parent, and as poor as it is possible to be in modern Britain, without being homeless,” she said in her commencement speech at Harvard.
          During this period, her depression took a dark turn, and she considered herself a failure. She had fallen and felt stuck. She even contemplated suicide.
          Luckily, she found it in her to seek help, and writing became an outlet.
          The idea for the Harry Potter series had come to her years before on a train ride from Manchester to London. She had worked on a few chapters in Portugal, but she only really found her momentum back in the U.K.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="sectionTwo">
    <div class="sectionMember">
      <div class="memberImg">
        <img src="../../assets/img/Chloe.gif" alt="">
      </div>

      <div class="imgExplain">
        <div class="imgExplainPlacement">
          <div class="crewSubtitle">
            <h4>Panda</h4>
            <h1>Chloe</h1>
          </div>
          <div class="crewDescription">
            <p>“I was jobless, a lone parent, and as poor as it is possible to be in modern Britain, without being homeless,” she said in her commencement speech at Harvard.
            During this period, her depression took a dark turn, and she considered herself a failure. She had fallen and felt stuck. She even contemplated suicide.
            Luckily, she found it in her to seek help, and writing became an outlet.
            The idea for the Harry Potter series had come to her years before on a train ride from Manchester to London. She had worked on a few chapters in Portugal, but she only really found her momentum back in the U.K.</p>
          </div>
          <div class="blogBtn">
              <button class="blogBtnStyle" type="button" name="button"><a href="blog.html">Learn It All</a></button>
          </div>
          <div class="btnInfo">
            <span>See the full list of Gregory's content</span>
          </div>
        </div>
      </div>
    </div>

    <div class="sectionMember">
      <div class="memberImg">
        <img src="../../assets/img/Greg.gif" alt="">
      </div>

      <div class="imgExplain">
        <div class="imgExplainPlacement">
          <div class="crewSubtitle">
            <h4>Jaguar</h4>
            <h1>Gregory</h1>
          </div>
          <div class="crewDescription">
            <p>“I was jobless, a lone parent, and as poor as it is possible to be in modern Britain, without being homeless,” she said in her commencement speech at Harvard.
            During this period, her depression took a dark turn, and she considered herself a failure. She had fallen and felt stuck. She even contemplated suicide.
            Luckily, she found it in her to seek help, and writing became an outlet.
            The idea for the Harry Potter series had come to her years before on a train ride from Manchester to London. She had worked on a few chapters in Portugal, but she only really found her momentum back in the U.K.</p>
          </div>
          <div class="blogBtn">
              <button class="blogBtnStyle" type="button" name="button"><a href="blog.html">Learn It All</a></button>
          </div>
          <div class="btnInfo">
            <span>See the full list of Gregory's content</span>
          </div>
        </div>
      </div>
    </div>

    <div class="sectionMember">
      <div class="memberImg">
        <img src="../../assets/img/Phil.gif" alt="">
      </div>

      <div class="imgExplain">
        <div class="imgExplainPlacement">
          <div class="crewSubtitle">
            <h4>Bear</h4>
            <h1>Philippe</h1>
          </div>
          <div class="crewDescription">
            <p>“I was jobless, a lone parent, and as poor as it is possible to be in modern Britain, without being homeless,” she said in her commencement speech at Harvard.
            During this period, her depression took a dark turn, and she considered herself a failure. She had fallen and felt stuck. She even contemplated suicide.
            Luckily, she found it in her to seek help, and writing became an outlet.
            The idea for the Harry Potter series had come to her years before on a train ride from Manchester to London. She had worked on a few chapters in Portugal, but she only really found her momentum back in the U.K.</p>
          </div>
          <div class="blogBtn">
              <button class="blogBtnStyle" type="button" name="button"><a href="blog.html">Learn It All</a></button>
          </div>
          <div class="btnInfo">
            <span>See the full list of Philippe's content</span>
          </div>
        </div>
      </div>
    </div>

    <div class="sectionMember">
      <div class="memberImg">
        <img src="../../assets/img/Sacha.gif" alt="">
      </div>

      <div class="imgExplain">
        <div class="imgExplainPlacement">
          <div class="crewSubtitle">
            <h4>Mountain Lion</h4>
            <h1>Sacha</h1>
          </div>
          <div class="crewDescription">
            <p>“I was jobless, a lone parent, and as poor as it is possible to be in modern Britain, without being homeless,” she said in her commencement speech at Harvard.
            During this period, her depression took a dark turn, and she considered herself a failure. She had fallen and felt stuck. She even contemplated suicide.
            Luckily, she found it in her to seek help, and writing became an outlet.
            The idea for the Harry Potter series had come to her years before on a train ride from Manchester to London. She had worked on a few chapters in Portugal, but she only really found her momentum back in the U.K.</p>
          </div>
          <div class="blogBtn">
              <button class="blogBtnStyle" type="button" name="button"><a href="blog.html">Learn It All</a></button>
          </div>
          <div class="btnInfo">
            <span>See the full list of Sacha's content</span>
          </div>
        </div>
      </div>
    </div>


  </div>



</div>
