{{> head}}
  {{> navbar}}

  <div class="content">
    <div class="contentContainer">

      <div class="logo1024">
        <a href="{{routing.quest}}"><img src="/assets/img/FutureboyLogo-v2.png" alt=""></a>
      </div>

      <!-- <div class="headline">
        <h1>The Crew</h1>
      </div> -->


      <div class="sectionOne">

        <div class="crewIMG768">
          <img class="img320" src="/assets/img/Crew-Night-640px.JPG" alt="">
          <img class="img768" src="/assets/img/Crew-Night-1440x.JPG" alt="">
        </div>
        <div class="crewIMG1024">

        </div>

        <div class="imgExplain">
          <div class="imgExplainPlacement">
            <div class="crewSubtitle">
              <h4>The Dream Team</h4>
              <h1>How We Came To Be</h1>
            </div>
            <div class="crewDescription">
              <p>Two years ago, we had an objective: End the wall of business ignorance in the dental industry by helping doctors to truly understand their practices. Sacha was the talented designer, Philippe the shaolin coder, and Gregory the visionary. After moving in together and failing to materialize that first project, we dug deeper than ever before into our internal abysses. After 8 months of intangible progress, we are back! Our toolkit: a new shared belief system, an incredible friendship, and the drive to move mountains. Meanwhile, Chloé who's been going at it alone, adds another dimension to the team with her elegance, maturity, and stillness. We. are. one.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="sectionTwo">
        <div class="sectionMember">
          <div class="memberImg">
            <img src="/assets/img/Chloe.gif" alt="">
          </div>

          <div class="imgExplain">
            <div class="imgExplainPlacement">
              <div class="crewSubtitle">
                <h4>Panda</h4>
                <h1>Chloé</h1>
              </div>
              <div class="crewDescription">
                <p>Chloé's fantastic — Her sensitivity, mixed with the shyness of the youth, makes for an elusive yet grounded being. Pianist, painter, cat lover, photographer, and excellent student, she's now taming her inner conflicts. All she truly needs is a bit of encouragement to get out of the bamboo forest and let herself shine :D</p>
              </div>
              <div class="blogBtn">
                  <button class="blogBtnStyle" type="button" name="button"><a href="{{routing.quest}}">Learn It All</a></button>
              </div>
              <div class="btnInfo">
                <span>See the full list of Chloé's content</span>
              </div>
            </div>
          </div>
        </div>

        <div class="sectionMember">
          <div class="memberImg">
            <img src="../../assets/img/Greg.gif" alt="">
          </div>

          <div class="imgExplain">
            <div class="imgExplainPlacement">
              <div class="crewSubtitle">
                <h4>Jaguar</h4>
                <h1>Gregory</h1>
              </div>
              <div class="crewDescription">
                <p>Thinking machine and ultra sensitive soul mixed together, Gregory is on a mission towards that exceptional place where performance meets universal love. His polarity make him really abrasive sometimes but in truth, he has an unshakeable belief that everyone & everything can be elevated by an order of magnitude, if only comes from the heart.</p>
              </div>
              <div class="blogBtn">
                  <button class="blogBtnStyle" type="button" name="button"><a href="{{routing.quest}}">Learn It All</a></button>
              </div>
              <div class="btnInfo">
                <span>See the full list of Gregory's content</span>
              </div>
            </div>
          </div>
        </div>

        <div class="sectionMember">
          <div class="memberImg">
            <img src="/assets/img/Phil.gif" alt="">
          </div>

          <div class="imgExplain">
            <div class="imgExplainPlacement">
              <div class="crewSubtitle">
                <h4>Bear</h4>
                <h1>Philippe</h1>
              </div>
              <div class="crewDescription">
                <p>Courage. That's the word Philippe embodied best in the last couple years. From losing his father to completely having to reshape his belief system, he's shown that nothing will stop him. Admired for his powerful stature, he's an amazing source of support in times of difficulty. Let's not forget his amazing coding skills, fascination for video games, and a profound love for martial arts. Isn't that double mountain punch super tasty? ;)</p>
              </div>
              <div class="blogBtn">
                  <button class="blogBtnStyle" type="button" name="button"><a href="{{routing.quest}}">Learn It All</a></button>
              </div>
              <div class="btnInfo">
                <span>See the full list of Philippe's content</span>
              </div>
            </div>
          </div>
        </div>

        <div class="sectionMember">
          <div class="memberImg">
            <img src="/assets/img/Sacha.gif" alt="">
          </div>

          <div class="imgExplain">
            <div class="imgExplainPlacement">
              <div class="crewSubtitle">
                <h4>Mountain Lion</h4>
                <h1>Sacha</h1>
              </div>
              <div class="crewDescription">
                <p>That soul is something special. Even though the fog of the mountains has hid his path for some time, the sun is back and he now stands wide awake in front of his personal quest. He's one of the most talented designer & musician out there and everytime he finds the strength to jump into the unknown, some wonderful art emerges. Be resilient and never settle my friend.</p>
              </div>
              <div class="blogBtn">
                  <button class="blogBtnStyle" type="button" name="button"><a href="{{routing.quest}}">Learn It All</a></button>
              </div>
              <div class="btnInfo">
                <span>See the full list of Sacha's content</span>
              </div>
            </div>
          </div>
        </div>


      </div>



    </div>


  </div>

{{> footer_marketing}}
