{{> head}} {{> navbar}}
<header>
    <div class="logo1024">
        <a href="blog.html"><img src="../../assets/img/FutureboyLogo-v2.png" alt=""></a>
    </div>
    <div class="headerContainer">
        <div class="headerContent">
            <div class="title">

            </div>
        </div>
    </div>
</header>

<div class="sectionOne">
    <div class="sectionWidth">
        <div class="sectionLeft">
            <div class="imgExplainPlacement">
                <div class="crewSubtitle">
                    <h4>Vision</h4>
                    <h1>It Starts with an Intention</h1>
                </div>
                <div class="crewDescription">
                    <p class="visionExplain">The intention to inspire you to live from the heart & tame your fears. Our dream is to see a world in which everyone connects with the essence of being through flow, experimentations, and love. As we were working hard to evolve and
                        reconsider everything, one question emerged: What if we opened our doors and shared our quest to learn to live from the heart? Without hesitation, it became clear that we had to dedicate ourselves to the task. We sincerely hope
                        that our journey will inspire you to follow your heart & that you'll evolve as much as we do. In the end, we promise you an authentic and sincere environment as we strive to live up to the principles of Maat: Truth, Justice, and
                        Harmony.</p>
                </div>
            </div>
        </div>
        <div class="sectionTwo">
            <div class="sectionRight">
                <div class="sectionMember">

                    <div class="imgExplainPlacement">
                        <div class="crewSubtitle">
                            <h4>Our Quest</h4>
                            <h1>Tune In & Take Action</h1>
                        </div>
                        <div class="crewDescription">
                            <p>In the last 5 years, we've oriented everything towards the process of self-discovery. It started with Gregory experimenting with visualization and realizing that we hold much more power than we think. From there, it's been
                                a crazy rollercoaster, but a really great one. In fact, it feels like we've been fast tracked to free ourselves from a belief system that brought all of us down, and now, we're ready to share that process back with you!</p>
                        </div>
                    </div>

                </div>

                <div class="sectionMember">

                    <div class="imgExplainPlacement">
                        <div class="crewSubtitle">
                            <h4>Way of Life</h4>
                            <h1>Universal Principles</h1>
                        </div>
                        <div class="crewDescription">
                            <p>In our quest for self-discovery we have collected teachings from people living their dream. Visionary leaders, masters, high-performers & enlightened sages have been met along our journey. These teachings come from life experiences,
                                looking within, ancient civilizations, philosophy & sacred texts. Our hope is that these guiding principles & concepts will uplift your life & those around you by orders of magnitude. As they have for us. Below, you'll
                                find the list of concepts we've discovered so far and try our best to live by:</p>
                        </div>
                        <!-- <div class="blogBtn">
                    <button class="blogBtnStyle" type="button" name="button"><a href="blog.html">Learn It All</a></button>
                </div>
                <div class="btnInfo">
                  <span>See the full list of Gregory's content</span>
                </div> -->
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="sectionThree">
    <div class="sectionCenter">
        <div class="principles">
            <div class="principlesPlacement">

                <div class="principleBox">
                    <div class="principleTitle">
                        <h1>Radical Honesty</h1>
                    </div>
                    <div class="principleExplained">
                    </div>
                </div>

                <div class="principleBox">
                    <div class="principleTitle">
                        <h1>Transparency</h1>
                    </div>
                    <div class="principleExplained">
                    </div>
                </div>



                <div class="principleBox">
                    <div class="principleTitle">
                        <h1>Congruence</h1>
                    </div>
                    <div class="principleExplained">
                    </div>
                </div>

                <div class="principleBox">
                    <div class="principleTitle">
                        <h1>Elegance</h1>
                    </div>
                    <div class="principleExplained">
                    </div>
                </div>

                <div class="principleBox">
                    <div class="principleTitle">
                        <h1>Justice</h1>
                    </div>
                    <div class="principleExplained">
                    </div>
                </div>

                <div class="principleBox">
                    <div class="principleTitle">
                        <h1>Truth</h1>
                    </div>
                    <div class="principleExplained">
                    </div>
                </div>

                <div class="principleBox">
                    <div class="principleTitle">
                        <h1>Love</h1>
                    </div>
                    <div class="principleExplained">
                    </div>
                </div>

                <div class="principleBox">
                    <div class="principleTitle">
                        <h1>Health</h1>
                    </div>
                    <div class="principleExplained">
                    </div>
                </div>

                <div class="principleBox">
                    <div class="principleTitle">
                        <h1>Family</h1>
                    </div>
                    <div class="principleExplained">
                    </div>
                </div>

                <div class="principleBox">
                    <div class="principleTitle">
                        <h1>Simplicity</h1>
                    </div>
                    <div class="principleExplained">
                    </div>
                </div>


                <div class="principleBox">
                    <div class="principleTitle">
                        <h1>Mindfulness</h1>
                    </div>
                    <div class="principleExplained">
                    </div>
                </div>

                <div class="principleBox">
                    <div class="principleTitle">
                        <h1>Growth Mindset</h1>
                    </div>
                    <div class="principleExplained">
                    </div>
                </div>


            </div>
        </div>

    </div>
    {{> foot}}
</div>
