{{> head}}
  {{> navbar}}
  <header>
    <div class="logo1024">
      <a href="index.html"><img src="../../assets/img/FutureboyLogo-v2.png" alt=""></a>
    </div>
    <div class="headerContainer">
      <div class="headerContent">
        <div class="title">
          <h3>Our Collection of Universal Principles</h3>
          <h1>Way Of Life</h1>
        </div>
      </div>
    </div>
  </header>

  <div class="sectionOne">
    <div class="thisSeek">
      <h1>Our North Star</h1>
    </div>
    <div class="seekExplain">
      <div class="seekExplainPlacement">
        <p class="p1">In our quest of self-discovery we have collected teachings from people living their dream. Visionary leaders, masters, high-performers & enlightened sages have been met along our journey.</p>
        <p class="p2">These teachings come from life experiences, looking within, ancient civilizations, philosophy & sacred texts.</p>
        <p class="p3">Our hope is that these guiding principles & concepts will uplift your life & those around you by orders of magnitude. As they have for us.</p>
      </div>
    </div>

  <div class="principles">
    <div class="principlesPlacement">

      <div class="principleBox">
        <div class="principleTitle">
          <h1>Growth Mindset</h1>
        </div>
        <div class="principleExplained">
        </div>
      </div>

      <div class="principleBox">
        <div class="principleTitle">
          <h1>Radical Honesty</h1>
        </div>
        <div class="principleExplained">
        </div>
      </div>

      <div class="principleBox">
        <div class="principleTitle">
          <h1>Congruence</h1>
        </div>
        <div class="principleExplained">
        </div>
      </div>

      <div class="principleBox">
        <div class="principleTitle">
          <h1>Simplicity</h1>
        </div>
        <div class="principleExplained">
        </div>
      </div>

      <div class="principleBox">
        <div class="principleTitle">
          <h1>Love</h1>
        </div>
        <div class="principleExplained">
        </div>
      </div>

      <div class="principleBox">
        <div class="principleTitle">
          <h1>Health</h1>
        </div>
        <div class="principleExplained">
        </div>
      </div>

      <div class="principleBox">
        <div class="principleTitle">
          <h1>Family</h1>
        </div>
        <div class="principleExplained">
        </div>
      </div>

      <div class="principleBox">
        <div class="principleTitle">
          <h1>Mindfulness</h1>
        </div>
        <div class="principleExplained">
        </div>
      </div>

      <div class="principleBox">
        <div class="principleTitle">
          <h1>Transparency</h1>
        </div>
        <div class="principleExplained">
        </div>
      </div>


    </div>
  </div>
{{> foot}}
