html, body {
  color: #000;
  background-color: #fff;
  font-family: "futura-pt",sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
}

input {
  outline: none;
  color: #000;
}

::-webkit-input-placeholder {
 color: #000;
}

a {
  outline: 0;
  text-decoration: none;
  color: #e5d9ff
}

a:hover, a:active, a:focus {
  outline: 0;
}

header {
  margin: 0;
}

img {
  width: 300px;
  text-align: center;
}

h1 {
  font-size: 1.5rem;
  margin: 10px 0 50px 0;
  font-weight: 600;
}

h3 {
  color: #000;
  margin: 0;
}



.copySectionBird1Container {
  width: 90%;
}


.section10 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emailForm {
  display: flex;
  justify-content: center;
}

.emailInputBottom {
  width: 275px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #000;
  background-color: transparent;
  font-family: "futura-pt",sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  letter-spacing: 2px;
  padding: 11px 10px 10px 0px;
}

.emailInputError {
  border-bottom: 2px solid red;
}

.nameInputBottom {
  width: 275px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #000;
  /*border-radius: 10px;*/
  background-color: transparent;
  font-family: "futura-pt",sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  letter-spacing: 2px;
  padding: 11px 10px 10px 0px;
}

.firstNameInput {
	margin: 10px 0 50px 0;
}

.firstNameError {
  border-bottom: 2px solid red;
}

.joinBtnBottom {
  margin-top: 60px;
  width: 285px;
  background-color: #000;
  border: #000 solid 2px;
  border-radius: 10px;
  padding: 10px 50px 11px 50px;
  font-family: "futura-pt",sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  color: #fff;
}

.joinBtnBottom:hover {
	background-color: #000;
}


.rainbow {
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 5s infinite;

  /* Internet Explorer */
  -ms-animation: rainbow 5s infinite;

  /* Standar Syntax */
  animation: rainbow 5s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
	14%{color: #F8001A;}
	28%{color: #FF8333;}
	42%{color: #F1C141;}
	56%{color: #75FB4F;}
	70%{color: #05BCF5;}
	84%{color: #830ED8;}
	100%{color: #F57AE5;}
}

/* Internet Explorer */
@-ms-keyframes rainbow{
	14%{color: #F8001A;}
	28%{color: #FF8333;}
	42%{color: #F1C141;}
	56%{color: #75FB4F;}
	70%{color: #05BCF5;}
	84%{color: #830ED8;}
	100%{color: #F57AE5;}
}

/* Standar Syntax */
@keyframes rainbow{
	14%{color: #F8001A;}
	28%{color: #FF8333;}
	42%{color: #F1C141;}
	56%{color: #75FB4F;}
	70%{color: #05BCF5;}
	84%{color: #830ED8;}
	100%{color: #F57AE5;}
}

@media (min-width: 600px) {
  h1 {
    font-size: 2rem;
  }


    .nameInputBottom {
      width: 375px;
    }

    .emailInputBottom {
      width: 375px;
    }

    .joinBtnBottom {
      width: 385px;
    	margin-top: 60px;
    }

    .emailInputBottom {
      width: 500px;
      font-weight: 600;
      font-size: 2rem;
      letter-spacing: 2px;
      padding: 11px 10px 10px 0px;
    }

    .emailInputError {
      border-bottom: 2px solid red;
    }

    .nameInputBottom {
      width: 500px;
      font-weight: 600;
      font-size: 2rem;
      letter-spacing: 2px;
      padding: 11px 10px 10px 0px;
    }

    .firstNameInput {
    	margin: 10px 0 50px 0;
    }

    .firstNameError {
      border-bottom: 2px solid red;
    }

    .joinBtnBottom {
      margin-top: 70px;
      width: 510px;
      background-color: #000;
      border: #000 solid 2px;
      border-radius: 10px;
      padding: 10px 50px 10px 50px;
      font-family: "futura-pt",sans-serif;
      font-weight: 600;
      font-size: 2rem;
      color: #fff;
    }

}


@media (min-width: 1375px) {

  /*.marketing {
  	height: 100vh;
    display: flex;
    align-items: center;
  }*/

  .copyFollow320 {
    display: none;
  }

  .copyFollow1024 {
    display: block;
  }

  h1 {
    margin-top: 0;
    font-size: 3.5rem;
  }

  /*h3 {
    font-size: 1.2rem;
  }*/

  ul {
    font-size: 1.8rem;
  }

  li {
    margin: 100px 0;
  }

  span {
    font-size: 1.8rem;
  }

  /*.secondPart {
    margin: 0 0 400px 0;
  }*/

  /*.learning {
    margin-top: 70px;
    font-size: 1.2rem;
  }*/

  .nameInputBottom {
    width: 375px;
  }

  .emailInputBottom {
    width: 375px;
  }

  .joinBtnBottom {
    width: 385px;
    margin-top: 60px;
  }

  .emailInputBottom {
    width: 600px;
    font-weight: 600;
    font-size: 2.3rem;
    letter-spacing: 2px;
    padding: 11px 10px 10px 0px;
  }

  .emailInputError {
    border-bottom: 2px solid red;
  }

  .nameInputBottom {
    width: 600px;
    font-weight: 600;
    font-size: 2.3rem;
    letter-spacing: 2px;
    padding: 11px 10px 10px 0px;
  }

  .firstNameInput {
    margin: 10px 0 50px 0;
  }

  .firstNameError {
    border-bottom: 2px solid red;
  }

  .joinBtnBottom {
    margin-top: 70px;
    width: 610px;
    background-color: #000;
    border: #000 solid 2px;
    border-radius: 10px;
    padding: 10px 50px 10px 50px;
    font-family: "futura-pt",sans-serif;
    font-weight: 600;
    font-size: 2.3rem;
    color: #fff;
  }


}
