<!DOCTYPE html>
<html>
  <head>
    <!--
    __________      _____                   ______
    ___  ____/___  ___  /____  ________________  /____________  __
    __  /_   _  / / /  __/  / / /_  ___/  _ \_  __ \  __ \_  / / /
    _  __/   / /_/ // /_ / /_/ /_  /   /  __/  /_/ / /_/ /  /_/ /
    /_/      \__,_/ \__/ \__,_/ /_/    \___//_.___/\____/_\__, /
                                                         /____/
    -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale = 1.0 maximum-scale=1.0 user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <script src="https://use.typekit.net/rer0env.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <title>M A A T</title>
    <link rel="stylesheet" href="../../assets/css/normalize.css">
    <link rel="stylesheet" href="../../assets/css/blogNIGHT.css">
    <!-- Start of Async Drift Code -->
<script>
!function() {
  var t;
  if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
  t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
  t.factory = function(e) {
    return function() {
      var n;
      return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
    };
  }, t.methods.forEach(function(e) {
    t[e] = t.factory(e);
  }), t.load = function(t) {
    var e, n, o, i;
    e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
    n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
  });
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('nnham4rhu8iv');
</script>
<!-- End of Async Drift Code -->
  </head>
  <body>

          <div class="navBar">
              <div class="navContent"  data-topbar data-options="scrolltop:false">
                  <div class="logoFuture">
                      <a href="index.html"><img class="logoPNG"src="../../assets/img/FutureboyLogo-V2.png" alt=""></a>
                  </div>
                  <div class="hamburger">
                      <a href="#">
                          <div class="lineUp lineStyle"></div>
                          <div class="lineMid lineStyle"></div>
                          <div class="lineDown lineStyle"></div>
                      </a>
                  </div>

              </div>
              <ul class="ul800">
                  <li class="FB"><a href="blog.html"><span>Blog</span></a></li>
                  <li class="WoL"><a href="wayOfLife.html"><span>Vision</span></a></li>
                  <li class="TC"><a href="theCrew.html"><span>Team</span></a></li>
              </ul>
          </div>

          <div class="menu">
                  <div class="topSection"></div>
                  <div class="menuContainer320 slideDown" id="sliding">
                      <div class="colWrapper">
                          <div class="leftCol">
                              <div class="exploreSection">
                                  <div class="sectionTitle">
                                      <span>Explore Sections</span>
                                  </div>
                                  <div class="separator blockOne"></div>
                                  <ul class="ulBlock">
                                      <li><a href="blog.html">Blog</a></li>
                                      <li><a href="wayOfLife.html">Vision</a></li>
                                      <li><a href="theCrew.html">Team</a></li>
                                  </ul>
                              </div>

                              <div class="filterBy">
                                  <div class="sectionTitle">
                                      <span>Filter by author</span>
                                  </div>
                                  <div class="separator blockTwo"></div>
                                  <ul class="ulBlock">
                                      <li><a href="#">Chloé</a></li>
                                      <li><a href="#">Gregory</a></li>
                                      <li><a href="#">Philippe</a></li>
                                      <li><a href="#">Sacha</a></li>
                                  </ul>
                              </div>
                          </div>

                          <div class="rightCol">
                              <div class="resonateWith">
                                  <div class="sectionTitle">
                                      <span>Resonate with</span>
                                  </div>
                                  <div class="separator blockThree"></div>
                                  <ul class="ulBlock">
                                      <li><a href="#">Books</a></li>
                                      <li><a href="#">Consciousness</a></li>
                                      <li><a href="#">Flow</a></li>
                                      <li><a href="#">Health</a></li>
                                      <li><a href="#">Music</a></li>
                                      <li><a href="#">Social dynamics</a></li>
                                      <li><a href="#">Spirituality</a></li>
                                      <li><a href="#">Startup Journey</a></li>
                                      <li><a href="#">Tech</a></li>
                                      <li><a href="#">Travel</a></li>
                                      <li><a href="#">Visual arts</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="socialMedia360 socialMediaMenu360">
                          <a target="_blank" href="https://www.youtube.com" class="youtube"><img class="socialIcons" src="../../assets/img/Youtube-lilac.svg" alt=""></a>
                          <a target="_blank" href="https://www.instagram.com/futureboy_hq/" class="instagram"><img class="socialIcons" src="../../assets/img/Instagram-lilac.svg" alt=""></a>
                          <a target="_blank" href="https://www.behance.net" class="behance"><img class="socialIcons" src="../../assets/img/Behance-lilac.svg" alt=""></a>
                      </div>
                  </div>

                  <div class="menuContainer768 slideDown">
                      <div class="colWrapper">

                              <div class="exploreSection">
                                  <div class="sectionTitle">
                                      <span>Explore Sections</span>
                                  </div>
                                  <div class="separator blockOne"></div>
                                  <ul class="ulBlock">
                                      <li><a href="blog.html">Blog</a></li>
                                      <li><a href="wayOfLife.html">Vision</a></li>
                                      <li><a href="theCrew.html">Team</a></li>
                                  </ul>
                              </div>

                              <div class="resonateWith">
                                  <div class="sectionTitle">
                                      <span>Resonate with</span>
                                  </div>
                                  <div class="separator blockThree"></div>
                                  <ul class="ulBlock">
                                      <li><a href="#">Books</a></li>
                                      <li><a href="#">Consciousness</a></li>
                                      <li><a href="#">Flow</a></li>
                                      <li><a href="#">Health</a></li>
                                      <li><a href="#">Music</a></li>
                                      <li><a href="#">Social dynamics</a></li>
                                      <li><a href="#">Spirituality</a></li>
                                      <li><a href="#">Startup Journey</a></li>
                                      <li><a href="#">Tech</a></li>
                                      <li><a href="#">Travel</a></li>
                                      <li><a href="#">Visual arts</a></li>
                                  </ul>
                              </div>

                              <div class="filterBy">
                                  <div class="sectionTitle">
                                      <span>Filter by author</span>
                                  </div>
                                  <div class="separator blockTwo"></div>
                                  <ul class="ulBlock">
                                      <li><a href="#">Chloé</a></li>
                                      <li><a href="#">Gregory</a></li>
                                      <li><a href="#">Philippe</a></li>
                                      <li><a href="#">Sacha</a></li>
                                  </ul>
                              </div>
                      </div>

                      <div class="bottom768Placement">
                          <div class="bottom768">
                              <span class="copyBottom">More Of The Good Stuff</span>
                                  <div class="socialMediaBottom">
                                  <div class="allThreeIcons">
                                      <a target="_blank" href="https://www.youtube.com" class="youtubeBtm"><img class="socialIconsBtm" src="../../assets/img/Youtube-lilac.svg" alt=""></a>
                                      <a target="_blank" href="https://www.instagram.com/futureboy_hq/" class="instagramBtm"><img class="socialIconsBtm" src="../../assets/img/Instagram-lilac.svg" alt=""></a>
                                      <a target="_blank" href="https://www.behance.net" class="behanceBtm"><img class="socialIconsBtm" src="../../assets/img/Behance-lilac.svg" alt=""></a>
                                      </div>
                                  </div>
                          </div>
                      </div>
                  </div>

                  <div class="menuWrapper1024 slideLeft">
                      <div class="logoPlacement">
                          <div class="logoFuture1024">
                              <!-- <img class="logoPNG1024"src="../../assets/img/FutureboyLogo-v2.png" alt=""> -->
                          </div>
                      </div>
                      <div class="menuContainer1024">
                          <div class="colWrapper">
                              <div class="colLeft">
                                  <div class="exploreSection">
                                      <div class="sectionTitle">
                                          <span>Explore Sections</span>
                                      </div>
                                      <div class="separator blockOne"></div>
                                      <ul class="ulBlock">
                                          <li><a href="blog.html">Blog</a></li>
                                          <li><a href="wayOfLife.html">Vision</a></li>
                                          <li><a href="theCrew.html">Team</a></li>
                                      </ul>
                                  </div>

                                  <div class="resonateWith">
                                      <div class="sectionTitle">
                                          <span>Resonate with</span>
                                      </div>
                                      <div class="separator blockThree"></div>
                                      <ul class="ulBlock">
                                          <li><a href="#">Books</a></li>
                                          <li><a href="#">Consciousness</a></li>
                                          <li><a href="#">Flow</a></li>
                                          <li><a href="#">Health</a></li>
                                          <li><a href="#">Music</a></li>
                                          <li><a href="#">Social dynamics</a></li>
                                          <li><a href="#">Spirituality</a></li>
                                          <li><a href="#">Startup journey</a></li>
                                          <li><a href="#">Tech</a></li>
                                          <li><a href="#">Travel</a></li>
                                          <li><a href="#">Visual arts</a></li>
                                      </ul>
                                  </div>

                                  <div class="filterBy">
                                      <div class="sectionTitle">
                                          <span>Filter by author</span>
                                      </div>
                                      <div class="separator blockTwo"></div>
                                      <ul class="ulBlock">
                                          <li><a href="#">Chloé</a></li>
                                          <li><a href="#">Gregory</a></li>
                                          <li><a href="#">Philippe</a></li>
                                          <li><a href="#">Sacha</a></li>
                                      </ul>
                                  </div>
                              </div>

                              <div class="colRight">
                                  <div class="padColRight">
                                      <h1 class="newletter">Newsletter</h1>
                                      <h3 class="copySloganMENU">Get inspired. Take action.<br>Build your dream.</h3>
                                      <div class="emailFormMENU">
                                          <form>
                                            <input class="emailInputMENU" type="email" value="" placeholder="Your Email" required />
                                            <input class="joinBtnMENU" type="submit" value="Join the Crew" />
                                          </form>
                                      </div>
                                      <div class="copyFollow768MENU">
                                          <span>Follow our story & receive a weekly email packed<br>with things that inspire us + our freshest content.<br>Curated with love, promise :)</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="bottom1024">
                              <span class="copyBottom">More Of The Good Stuff</span>
                                  <div class="socialMediaBottom">
                                  <div class="allThreeIcons">
                                      <a target="_blank" href="https://www.youtube.com" class="youtubeBtm"><img class="socialIconsBtm" src="../../assets/img/Youtube-lilac.svg" alt=""></a>
                                      <a target="_blank" href="https://www.instagram.com/futureboy_hq/" class="instagramBtm"><img class="socialIconsBtm" src="../../assets/img/Instagram-lilac.svg" alt=""></a>
                                      <a target="_blank" href="https://www.behance.net" class="behanceBtm"><img class="socialIconsBtm" src="../../assets/img/Behance-lilac.svg" alt=""></a>
                                      </div>
                                  </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="content">
                <div class="contentContainer">
                  <div class="logo1024">
                    <a href="blog.html"><img src="../../assets/img/FutureboyLogo-v2.png" alt=""></a>
                  </div>
                  <div class="quoteOfDay">
                    <span class="quote320"><h2>To dare is to lose one's footing momentarily. Not to dare is to lose oneself.</h2><span class="quoteAuthor">Søren Kierkegaard</span></span>
                    <span class="quote768"><h2>To dare is to lose one's footing momentarily.<br>Not to dare is to lose oneself.</h2><span class="quoteAuthor">Søren Kierkegaard</span></span>
                  </div>

                <!-- -LATEST ARTICLE GOES HERE- -->
                <div class="article">

                  <div class="postIMG">
                    <div class="imgLESS750PX">
                      <a href="content.html"><img src="../../assets/img/ayahuasca.jpg" alt=""></a>
                      <div class="upper1024">
                        <div class="overlayPlacement">
                          <div class="hover">
                            <div class="postData">
                              <div class="postTitle">
                                <a href="content.html"><h1>Pablo the Shaman is on Another Plane</h1></a>
                              </div>
                              <div class="post">
                                <div class="postCategories">
                                  <span><a href="#">Exploration</a>&nbsp&nbsp • &nbsp&nbsp<a href="#">Consciousness</a>&nbsp&nbsp • &nbsp&nbsp<a href="#">Philippe</a></span>
                                </div>
                                <div class="postSummary">
                                  <div class="postSummaryFlex">
                                    <h4>What would we do without him?</h4>
                                  </div>
                                </div>
                                <div class="postReadBtn">
                                  <a href="content.html"><span>> </span> &nbspRead more</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="lower1024">
                    <div class="postData">
                      <div class="postTitle">
                        <a href="content.html"><h1>Pablo the Shaman is on Another Plane</h1></a>
                      </div>
                      <div class="post">
                        <div class="postCategories">
                          <span><a href="#">Exploration</a>&nbsp&nbsp • &nbsp&nbsp<a href="#">Consciousness</a>&nbsp&nbsp • &nbsp&nbsp<a href="#">Philippe</a></span>
                        </div>
                        <div class="postSummary">
                          <div class="postSummaryFlex">
                            <h4>What would we do without him?</h4>
                          </div>
                        </div>
                        <div class="postReadBtn">
                          <a href="content.html"><span>> </span> &nbspRead more</a>
                        </div>
                      </div>
                    </div>
                  </div>



                </div>

                <!-- REST OF FEED GOES HERE -->

                <div class="article">

                  <div class="postIMG">
                    <div class="imgLESS750PX"> <!---PLEASE DELETE THE IMG CLASS YOU WON'T USE--->
                      <a href="index.html"><img src="../../assets/img/500.png" alt=""></a>
                      <div class="upper1024">
                        <div class="overlayPlacement">
                          <div class="hover">
                            <div class="postData">
                              <div class="postTitle">
                                <a href="#"><h1>The Magical Art of the Jungle</h1></a>
                              </div>
                              <div class="post">
                                <div class="postCategories">
                                  <span><a href="#">Vision</a>&nbsp&nbsp • &nbsp&nbsp<a href="#">Visual Art</a>&nbsp&nbsp • &nbsp&nbsp<a href="#">Gregory</a></span>
                                </div>
                                <div class="postSummary">
                                  <div class="postSummaryFlex">
                                    <h4>After spending 9 days in the jungle, I can understand how this art is trying to ...</h4>
                                  </div>
                                </div>
                                <div class="postReadBtn">
                                  <a href="#"><span>> </span> &nbspRead more</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="lower1024">
                    <div class="postData">
                      <div class="postTitle">
                        <a href="#"><h1>The Magical Art of the Jungle</h1></a>
                      </div>
                      <div class="post">
                        <div class="postCategories">
                          <span><a href="#">Vision</a>&nbsp&nbsp • &nbsp&nbsp<a href="#">Visual Art</a>&nbsp&nbsp • &nbsp&nbsp<a href="#">Gregory</a></span>
                        </div>
                        <div class="postSummary">
                          <div class="postSummaryFlex">
                            <h4>After spending 9 days in the jungle, I can understand how this art is trying to ...</h4>
                          </div>
                        </div>
                        <div class="postReadBtn">
                          <a href="#"><span>> </span> &nbspRead more</a>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="article">

                  <div class="postIMG">
                    <div class="imgWIDER750PX"> <!---PLEASE DELETE THE IMG CLASS YOU WON'T USE--->
                      <a href="lessonInFascination.html"><img src="../../assets/img/lessonInFascination/line5.png" alt=""></a>
                      <div class="upper1024">
                        <div class="overlayPlacement">
                          <div class="hover">
                            <div class="postData">
                              <div class="postTitle">
                                <a href="lessonInFascination.html"><h1>A Brief Lesson In Fascination & Craft</h1></a>
                              </div>
                              <div class="post">
                                <div class="postCategories">
                                  <span><a href="#">Visual Arts</a>&nbsp&nbsp • &nbsp&nbsp<a href="#">Spirituality</a>&nbsp&nbsp • &nbsp&nbsp<a href="#">Sacha</a></span>
                                </div>
                                <div class="postSummary">
                                  <div class="widerSummaryFlex">
                                    <h4>The starting point was my childhood, or rather, the way that I was as a child. I remember being fascinated by the most insignificant of details...</h4>
                                  </div>
                                </div>
                                <div class="postReadBtn">
                                  <a href="lessonInFascination.html"><span>> </span> &nbspRead more</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="lower1024">
                    <div class="postData">
                      <div class="postTitle">
                        <a href="lessonInFascination.html"><h1>A Brief Lesson In Fascination & Craft</h1></a>
                      </div>
                      <div class="post">
                        <div class="postCategories">
                          <span><a href="#">Visual Arts</a>&nbsp&nbsp • &nbsp&nbsp<a href="#">Spirituality</a>&nbsp&nbsp • &nbsp&nbsp<a href="#">Sacha</a></span>
                        </div>
                        <div class="postSummary">
                          <div class="postSummaryFlex">
                            <h4>The starting point was my childhood, or rather, the way that I was as a child. I remember being fascinated by the most insignificant of details...</h4>
                          </div>
                        </div>
                        <div class="postReadBtn">
                          <a href="lessonInFascination.html"><span>> </span> &nbspRead more</a>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>

            <div class="bottom">

                <!-- <div class="marketing">
                    <div class="marketingPlacement">
                        <div class="copyFollow320">
                            <span>From pure joy to shatter, we’re sharing everything on our journey to live from<br>the heart.<p>We're evolving a lot,<br>and so will you! :)</p></span>
                        </div>
                        <div class="copyFollow700">
                            <span>From pure joy to shatter, we’re sharing everything<br>on our journey to live from the heart.<p>We're evolving a lot, and so will you! :)</p></span>
                        </div>
                      <div class="emailForm">
                          <form action="joinedNewsletter.html">
                            <input class="emailInputBottom" type="email" value="" placeholder="Enter your email address" required />
                            <input class="joinBtnBottom" type="submit" value="Let's do it!"/>
                          </form>
                      </div>
                    </div>
                </div> -->

            <span class="copyBottom">More of the Good Stuff</span>
                <div class="socialMediaBottom">
                    <div class="allThreeIcons">
                        <a target="_blank" href="https://www.youtube.com" class="youtubeBtm"><img class="socialIconsBtm" src="../../assets/img/Youtube-lilac.svg" alt=""></a>
                        <a target="_blank" href="https://www.instagram.com/futureboy_hq/" class="instagramBtm"><img class="socialIconsBtm" src="../../assets/img/Instagram-lilac.svg" alt=""></a>
                        <a target="_blank" href="https://www.behance.net" class="behanceBtm"><img class="socialIconsBtm" src="../../assets/img/Behance-lilac.svg" alt=""></a>
                    </div>
                </div>
            </div>



      <script type="text/javascript" src="../../app/app.js"></script>


  </body>
</html>
