<!DOCTYPE html>
<html>
  <head>
    <!--
    __________      _____                   ______
    ___  ____/___  ___  /____  ________________  /____________  __
    __  /_   _  / / /  __/  / / /_  ___/  _ \_  __ \  __ \_  / / /
    _  __/   / /_/ // /_ / /_/ /_  /   /  __/  /_/ / /_/ /  /_/ /
    /_/      \__,_/ \__/ \__,_/ /_/    \___//_.___/\____/_\__, /
                                                         /____/
    -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale = 1.0 maximum-scale=1.0 user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>M A A T</title>
    <link rel="stylesheet" href="../../assets/css/fonts.css">
    <link rel="stylesheet" href="../../assets/css/normalize.css">
    <link rel="stylesheet" href="../../assets/css/contentNIGHT.css">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  </head>
  <body>

          <div class="navBar">
              <div class="navContent"  data-topbar data-options="scrolltop:false">
                  <div class="logoFuture">
                      <a href="blog.html"><img class="logoPNG"src="../../assets/img/FutureboyLogo-v2.png" alt=""></a>
                  </div>
                  <div class="hamburger">
                      <a href="#">
                          <div class="lineUp lineStyle"></div>
                          <div class="lineMid lineStyle"></div>
                          <div class="lineDown lineStyle"></div>
                      </a>
                  </div>

              </div>
              <ul class="ul800">
                  <li class="WoL"><a href="wayOfLife.html"><span>Vision</span></a></li>
                  <li class="FB"><a href="blog.html"><span>Phase One</span></a></li>
                  <li class="TC"><a href="theCrew.html"><span>Team</span></a></li>
              </ul>
          </div>

          <div class="menu">
                  <div class="topSection"></div>
                  <div class="menuContainer320 slideDown" id="sliding">
                      <div class="colWrapper">
                          <div class="leftCol">
                              <div class="exploreSection">
                                  <div class="sectionTitle">
                                      <span>Explore Sections</span>
                                  </div>
                                  <div class="separator blockOne"></div>
                                  <ul class="ulBlock">
                                      <li><a href="blog.html">Blog</a></li>
                                      <li><a href="wayOfLife.html">Vision</a></li>
                                      <li><a href="theCrew">Team</a></li>
                                  </ul>
                              </div>

                              <div class="filterBy">
                                  <div class="sectionTitle">
                                      <span>Filter by author</span>
                                  </div>
                                  <div class="separator blockTwo"></div>
                                  <ul class="ulBlock">
                                      <li><a href="#">Chloé</a></li>
                                      <li><a href="#">Gregory</a></li>
                                      <li><a href="#">Philippe</a></li>
                                      <li><a href="#">Sacha</a></li>
                                  </ul>
                              </div>
                          </div>

                          <div class="rightCol">
                              <div class="resonateWith">
                                  <div class="sectionTitle">
                                      <span>Resonate with</span>
                                  </div>
                                  <div class="separator blockThree"></div>
                                  <ul class="ulBlock">
                                      <li><a href="#">Books</a></li>
                                      <li><a href="#">Consciousness</a></li>
                                      <li><a href="#">Flow</a></li>
                                      <li><a href="#">Health</a></li>
                                      <li><a href="#">Music</a></li>
                                      <li><a href="#">Social dynamics</a></li>
                                      <li><a href="#">Spirituality</a></li>
                                      <li><a href="#">Startup Journey</a></li>
                                      <li><a href="#">Tech</a></li>
                                      <li><a href="#">Travel</a></li>
                                      <li><a href="#">Visual arts</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="socialMedia360 socialMediaMenu360">
                          <a target="_blank" href="https://www.youtube.com" class="youtube"><img class="socialIcons" src="../../assets/img/Youtube-lilac.svg" alt=""></a>
                          <a target="_blank" href="https://www.instagram.com/futureboy_hq/" class="instagram"><img class="socialIcons" src="../../assets/img/Instagram-lilac.svg" alt=""></a>
                          <a target="_blank" href="https://www.behance.net" class="behance"><img class="socialIcons" src="../../assets/img/Behance-lilac.svg" alt=""></a>
                      </div>
                  </div>

                  <div class="menuContainer768 slideDown">
                      <div class="colWrapper">

                              <div class="exploreSection">
                                  <div class="sectionTitle">
                                      <span>Explore Sections</span>
                                  </div>
                                  <div class="separator blockOne"></div>
                                  <ul class="ulBlock">
                                      <li><a href="blog.html">Blog</a></li>
                                      <li><a href="wayOfLife.html">Vision</a></li>
                                      <li><a href="theCrew.html">Team</a></li>
                                  </ul>
                              </div>

                              <div class="resonateWith">
                                  <div class="sectionTitle">
                                      <span>Resonate with</span>
                                  </div>
                                  <div class="separator blockThree"></div>
                                  <ul class="ulBlock">
                                      <li><a href="#">Books</a></li>
                                      <li><a href="#">Consciousness</a></li>
                                      <li><a href="#">Flow</a></li>
                                      <li><a href="#">Health</a></li>
                                      <li><a href="#">Music</a></li>
                                      <li><a href="#">Social dynamics</a></li>
                                      <li><a href="#">Spirituality</a></li>
                                      <li><a href="#">Startup Journey</a></li>
                                      <li><a href="#">Tech</a></li>
                                      <li><a href="#">Travel</a></li>
                                      <li><a href="#">Visual arts</a></li>
                                  </ul>
                              </div>

                              <div class="filterBy">
                                  <div class="sectionTitle">
                                      <span>Filter by author</span>
                                  </div>
                                  <div class="separator blockTwo"></div>
                                  <ul class="ulBlock">
                                      <li><a href="#">Chloé</a></li>
                                      <li><a href="#">Gregory</a></li>
                                      <li><a href="#">Philippe</a></li>
                                      <li><a href="#">Sacha</a></li>
                                  </ul>
                              </div>
                      </div>

                      <div class="bottom768Placement">
                          <div class="bottom768">
                              <span class="copyBottom">More Of The Good Stuff</span>
                                  <div class="socialMediaBottom">
                                  <div class="allThreeIcons">
                                      <a target="_blank" href="https://www.youtube.com" class="youtubeBtm"><img class="socialIconsBtm" src="../../assets/img/Youtube-lilac.svg" alt=""></a>
                                      <a target="_blank" href="https://www.instagram.com/futureboy_hq/" class="instagramBtm"><img class="socialIconsBtm" src="../../assets/img/Instagram-lilac.svg" alt=""></a>
                                      <a target="_blank" href="https://www.behance.net" class="behanceBtm"><img class="socialIconsBtm" src="../../assets/img/Behance-lilac.svg" alt=""></a>
                                      </div>
                                  </div>
                          </div>
                      </div>
                  </div>

                  <div class="menuWrapper1024 slideLeft">
                      <div class="logoPlacement">
                          <div class="logoFuture1024">
                              <!-- <img class="logoPNG1024"src="../../assets/img/FutureboyLogo-v2.png" alt=""> -->
                          </div>
                      </div>
                      <div class="menuContainer1024">
                          <div class="colWrapper">
                              <div class="colLeft">
                                  <div class="exploreSection">
                                      <div class="sectionTitle">
                                          <span>Explore Sections</span>
                                      </div>
                                      <div class="separator blockOne"></div>
                                      <ul class="ulBlock">
                                          <li><a href="blog.html">Blog</a></li>
                                          <li><a href="wayOfLife.html">Vision</a></li>
                                          <li><a href="theCrew.html">Team</a></li>
                                      </ul>
                                  </div>

                                  <div class="resonateWith">
                                      <div class="sectionTitle">
                                          <span>Resonate with</span>
                                      </div>
                                      <div class="separator blockThree"></div>
                                      <ul class="ulBlock">
                                          <li><a href="#">Books</a></li>
                                          <li><a href="#">Consciousness</a></li>
                                          <li><a href="#">Flow</a></li>
                                          <li><a href="#">Health</a></li>
                                          <li><a href="#">Music</a></li>
                                          <li><a href="#">Social dynamics</a></li>
                                          <li><a href="#">Spirituality</a></li>
                                          <li><a href="#">Startup journey</a></li>
                                          <li><a href="#">Tech</a></li>
                                          <li><a href="#">Travel</a></li>
                                          <li><a href="#">Visual arts</a></li>
                                      </ul>
                                  </div>

                                  <div class="filterBy">
                                      <div class="sectionTitle">
                                          <span>Filter by auhtor</span>
                                      </div>
                                      <div class="separator blockTwo"></div>
                                      <ul class="ulBlock">
                                          <li><a href="#">Chloé</a></li>
                                          <li><a href="#">Gregory</a></li>
                                          <li><a href="#">Philippe</a></li>
                                          <li><a href="#">Sacha</a></li>
                                      </ul>
                                  </div>
                              </div>

                              <div class="colRight">
                                  <div class="padColRight">
                                      <h1 class="newletter">Contact Us</h1>
                                      <h3 class="copySloganMENU">team@maat.space</h3>
                                      <!-- <div class="emailFormMENU">
                                          <form>
                                            <input class="emailInputMENU" type="email" value="" placeholder="Your Email" required />
                                            <input class="joinBtnMENU" type="submit" value="Join the Crew" />
                                          </form>
                                      </div> -->
                                      <div class="copyFollow768MENU">
                                          <span>We're always looking to improve your experience,<br>and would love to hear about you! Don't hesitate<br>to shoot us a question, or feedback! Cheers!</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="bottom1024">
                              <span class="copyBottom">More Of The Good Stuff</span>
                                  <div class="socialMediaBottom">
                                  <div class="allThreeIcons">
                                      <a target="_blank" href="https://www.youtube.com" class="youtubeBtm"><img class="socialIconsBtm" src="../../assets/img/Youtube-lilac.svg" alt=""></a>
                                      <a target="_blank" href="https://www.instagram.com/futureboy_hq/" class="instagramBtm"><img class="socialIconsBtm" src="../../assets/img/Instagram-lilac.svg" alt=""></a>
                                      <a target="_blank" href="https://www.behance.net" class="behanceBtm"><img class="socialIconsBtm" src="../../assets/img/Behance-lilac.svg" alt=""></a>
                                      </div>
                                  </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="content">
                <div class="contentContainer">

                  <div class="logo1024">
                    <a href="blog.html"><img src="../../assets/img/FutureboyLogo-v2.png" alt=""></a>
                  </div>

                  <div class="filters">
                    <div class="filtersPlacement">
                      <ul class="ulTop1024">
                        <li><a href="#">Books</a></li>
                        <li><a href="#">Consciousness</a></li>
                        <li><a href="#">Good Food</a></li>
                        <li><a href="#">Music</a></li>
                        <li><a href="#">Startup journey</a></li>
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Visual arts</a></li>
                      </ul>
                    </div>
                    <div><a class="ctaSubscribe" href="subscribe.html">Subscribe</a></div>
                  </div>

                  <div class="articleIMG">
                    <div class="articleImgPlacementLESS750PX">
                      <img src="../../assets/img/ayahuasca.jpg" alt="">
                      <span class="imgSubtitle">Photo by Philippe. Edits by Chloe.</span>
                    </div>

                  </div>

                    <div class="articleData">
                      <div class="articleDataPlacement">
                        <div class="postCategories">
                          <span>Exploration&nbsp&nbsp • &nbsp&nbspConsciousness&nbsp&nbsp • &nbsp&nbspPhilippe</span>
                        </div>
                        <div class="postTitle">
                          <a href="#"><h1>Pablo the shaman is on another plane</h1></a>
                        </div>
                        <div class="text">
                          <p><p>While driving back from my ballet class yesterday, I asked myself what kept me going at it passionately for the last 14 years.</p>
                          <p>I realize now that the constant need to push myself harder and fight against my weak mind have been the motivation. The moment you decide to improve (lift your leg higher, jump higher, keep your balance…) you enter a physical and mental journey. Physically, ballet is extremely demanding, which makes it mentally difficult. When your back contracts so much that it hurts and your toes are all squeezed out in your point shoes, your mind will demand you to quit. But when you push through and  finally reach this beautiful arabesque, you realized that listening to your weak thoughts will bring you no where, neither in ballet nor in life.</p>
                          <p>I believe that this principle applies to all of us, in any field. The experts struggled and worked so hard to achieve what we admire them for. Never forget this. Excellence comes with resilience, drive, and the ability to overcome weak thoughts. Let’s fight against these “it is to hard” and “I’ll never be as good as them”  reflections that bring us down. Yes it requires more effort, but believe me, we can only be at our true potential if we push ourselves further than our mental comfort zone.</p>
                          <p>We can do it!</p>
                          <p>Chloé</p>
                        </div>
                      </div>
                    </div>

                </div>
              </div>



              <div class="bottom">

                  <div class="marketingContent">
                      <div class="marketingContentPlacement">
                        <span class="bottomMarketing320">PS: If you've read this far, you're ready to learn more about living your purpose. Join the ride to receive some weekly golden nuggets from me and other members of the dream team!</span>
                        <span class="bottomMarketing1024">PS: If you've read this far, you're ready to learn more about living your purpose.<br>Join the ride to receive some weekly golden nuggets from me and other members of the dream team!</span>
                        <div class="ctaSubscribeBottom">
                          <a href="subscribe.html" class="ctaSubscribeBottom">Sign me up :)</a>
                        </div>
                      </div>
                  </div>

              <span class="copyBottom">More of the Good Stuff</span>
                  <div class="socialMediaBottom">
                      <div class="allThreeIcons">
                          <a target="_blank" href="https://www.youtube.com" class="youtubeBtm"><img class="socialIconsBtm" src="../../assets/img/Youtube-lilac.svg" alt=""></a>
                          <a target="_blank" href="https://www.instagram.com/futureboy_hq/" class="instagramBtm"><img class="socialIconsBtm" src="../../assets/img/Instagram-lilac.svg" alt=""></a>
                          <a target="_blank" href="https://www.behance.net" class="behanceBtm"><img class="socialIconsBtm" src="../../assets/img/Behance-lilac.svg" alt=""></a>
                      </div>
                  </div>
              </div>





      <script type="text/javascript" src="../../app/app.js"></script>

  </body>
</html>
