<!DOCTYPE html>
<html>

<head>
    <!--
    __________      _____                   ______
    ___  ____/___  ___  /____  ________________  /____________  __
    __  /_   _  / / /  __/  / / /_  ___/  _ \_  __ \  __ \_  / / /
    _  __/   / /_/ // /_ / /_/ /_  /   /  __/  /_/ / /_/ /  /_/ /
    /_/      \__,_/ \__/ \__,_/ /_/    \___//_.___/\____/_\__, /
                                                         /____/
    -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale = 1.0 maximum-scale=1.0 user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <script src="https://use.typekit.net/rer0env.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>
    <title>M A A T</title>
    <link rel="stylesheet" href="../../assets/css/normalize.css">
    <link rel="stylesheet" href="../../assets/css/contentNIGHT.css">
</head>

<body>

    <div class="navBar">
        <div class="navContent" data-topbar data-options="scrolltop:false">
            <div class="logoFuture">
                <a href="blog.html"><img class="logoPNG" src="../../assets/img/FutureboyLogo-v2.png" alt=""></a>
            </div>
            <div class="hamburger">
                <a href="#">
                    <div class="lineUp lineStyle"></div>
                    <div class="lineMid lineStyle"></div>
                    <div class="lineDown lineStyle"></div>
                </a>
            </div>

        </div>
        <ul class="ul800">
            <li class="WoL"><a href="wayOfLife.html"><span>Vision</span></a></li>
            <li class="FB"><a href="blog.html"><span>Phase One</span></a></li>
            <li class="TC"><a href="theCrew.html"><span>Team</span></a></li>
        </ul>
    </div>

    <div class="menu">
        <div class="topSection"></div>
        <div class="menuContainer320 slideDown" id="sliding">
            <div class="colWrapper">
                <div class="leftCol">
                    <div class="exploreSection">
                        <div class="sectionTitle">
                            <span>Explore Sections</span>
                        </div>
                        <div class="separator blockOne"></div>
                        <ul class="ulBlock">
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="wayOfLife.html">Vision</a></li>
                            <li><a href="theCrew">Team</a></li>
                        </ul>
                    </div>

                    <div class="filterBy">
                        <div class="sectionTitle">
                            <span>Filter by author</span>
                        </div>
                        <div class="separator blockTwo"></div>
                        <ul class="ulBlock">
                            <li><a href="#">Chloé</a></li>
                            <li><a href="#">Gregory</a></li>
                            <li><a href="#">Philippe</a></li>
                            <li><a href="#">Sacha</a></li>
                        </ul>
                    </div>
                </div>

                <div class="rightCol">
                    <div class="resonateWith">
                        <div class="sectionTitle">
                            <span>Resonate with</span>
                        </div>
                        <div class="separator blockThree"></div>
                        <ul class="ulBlock">
                            <li><a href="#">Books</a></li>
                            <li><a href="#">Consciousness</a></li>
                            <li><a href="#">Flow</a></li>
                            <li><a href="#">Health</a></li>
                            <li><a href="#">Music</a></li>
                            <li><a href="#">Social dynamics</a></li>
                            <li><a href="#">Spirituality</a></li>
                            <li><a href="#">Startup Journey</a></li>
                            <li><a href="#">Tech</a></li>
                            <li><a href="#">Travel</a></li>
                            <li><a href="#">Visual arts</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="socialMedia360 socialMediaMenu360">
                <a target="_blank" href="https://www.youtube.com" class="youtube"><img class="socialIcons" src="../../assets/img/Youtube-lilac.svg" alt=""></a>
                <a target="_blank" href="https://www.instagram.com/futureboy_hq/" class="instagram"><img class="socialIcons" src="../../assets/img/Instagram-lilac.svg" alt=""></a>
                <a target="_blank" href="https://www.behance.net" class="behance"><img class="socialIcons" src="../../assets/img/Behance-lilac.svg" alt=""></a>
            </div>
        </div>

        <div class="menuContainer768 slideDown">
            <div class="colWrapper">

                <div class="exploreSection">
                    <div class="sectionTitle">
                        <span>Explore Sections</span>
                    </div>
                    <div class="separator blockOne"></div>
                    <ul class="ulBlock">
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="wayOfLife.html">Vision</a></li>
                        <li><a href="theCrew.html">Team</a></li>
                    </ul>
                </div>

                <div class="resonateWith">
                    <div class="sectionTitle">
                        <span>Resonate with</span>
                    </div>
                    <div class="separator blockThree"></div>
                    <ul class="ulBlock">
                        <li><a href="#">Books</a></li>
                        <li><a href="#">Consciousness</a></li>
                        <li><a href="#">Flow</a></li>
                        <li><a href="#">Health</a></li>
                        <li><a href="#">Music</a></li>
                        <li><a href="#">Social dynamics</a></li>
                        <li><a href="#">Spirituality</a></li>
                        <li><a href="#">Startup Journey</a></li>
                        <li><a href="#">Tech</a></li>
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Visual arts</a></li>
                    </ul>
                </div>

                <div class="filterBy">
                    <div class="sectionTitle">
                        <span>Filter by author</span>
                    </div>
                    <div class="separator blockTwo"></div>
                    <ul class="ulBlock">
                        <li><a href="#">Chloé</a></li>
                        <li><a href="#">Gregory</a></li>
                        <li><a href="#">Philippe</a></li>
                        <li><a href="#">Sacha</a></li>
                    </ul>
                </div>
            </div>

            <div class="bottom768Placement">
                <div class="bottom768">
                    <span class="copyBottom">More Of The Good Stuff</span>
                    <div class="socialMediaBottom">
                        <div class="allThreeIcons">
                            <a target="_blank" href="https://www.youtube.com" class="youtubeBtm"><img class="socialIconsBtm" src="../../assets/img/Youtube-lilac.svg" alt=""></a>
                            <a target="_blank" href="https://www.instagram.com/futureboy_hq/" class="instagramBtm"><img class="socialIconsBtm" src="../../assets/img/Instagram-lilac.svg" alt=""></a>
                            <a target="_blank" href="https://www.behance.net" class="behanceBtm"><img class="socialIconsBtm" src="../../assets/img/Behance-lilac.svg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="menuWrapper1024 slideLeft">
            <div class="logoPlacement">
                <div class="logoFuture1024">
                    <!-- <img class="logoPNG1024"src="../../assets/img/FutureboyLogo-v2.png" alt=""> -->
                </div>
            </div>
            <div class="menuContainer1024">
                <div class="colWrapper">
                    <div class="colLeft">
                        <div class="exploreSection">
                            <div class="sectionTitle">
                                <span>Explore Sections</span>
                            </div>
                            <div class="separator blockOne"></div>
                            <ul class="ulBlock">
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="wayOfLife.html">Vision</a></li>
                                <li><a href="theCrew.html">Team</a></li>
                            </ul>
                        </div>

                        <div class="resonateWith">
                            <div class="sectionTitle">
                                <span>Resonate with</span>
                            </div>
                            <div class="separator blockThree"></div>
                            <ul class="ulBlock">
                                <li><a href="#">Books</a></li>
                                <li><a href="#">Consciousness</a></li>
                                <li><a href="#">Flow</a></li>
                                <li><a href="#">Health</a></li>
                                <li><a href="#">Music</a></li>
                                <li><a href="#">Social dynamics</a></li>
                                <li><a href="#">Spirituality</a></li>
                                <li><a href="#">Startup journey</a></li>
                                <li><a href="#">Tech</a></li>
                                <li><a href="#">Travel</a></li>
                                <li><a href="#">Visual arts</a></li>
                            </ul>
                        </div>

                        <div class="filterBy">
                            <div class="sectionTitle">
                                <span>Filter by author</span>
                            </div>
                            <div class="separator blockTwo"></div>
                            <ul class="ulBlock">
                                <li><a href="#">Chloé</a></li>
                                <li><a href="#">Gregory</a></li>
                                <li><a href="#">Philippe</a></li>
                                <li><a href="#">Sacha</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="colRight">
                        <div class="padColRight">
                            <h1 class="newletter">Contact Us</h1>
                            <h3 class="copySloganMENU">team@maat.space</h3>
                            <!-- <div class="emailFormMENU">
                                <form>
                                    <input class="emailInputMENU" type="email" value="" placeholder="Your Email" required />
                                    <input class="joinBtnMENU" type="submit" value="Join the Crew" />
                                </form>
                            </div> -->
                            <div class="copyFollow768MENU">
                                <span>We're always looking to improve your experience,<br>and would love to hear about you! Don't hesitate<br>to shoot us a question, or feedback! Cheers!</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom1024">
                    <span class="copyBottom">More Of The Good Stuff</span>
                    <div class="socialMediaBottom">
                        <div class="allThreeIcons">
                            <a target="_blank" href="https://www.youtube.com" class="youtubeBtm"><img class="socialIconsBtm" src="../../assets/img/Youtube-lilac.svg" alt=""></a>
                            <a target="_blank" href="https://www.instagram.com/futureboy_hq/" class="instagramBtm"><img class="socialIconsBtm" src="../../assets/img/Instagram-lilac.svg" alt=""></a>
                            <a target="_blank" href="https://www.behance.net" class="behanceBtm"><img class="socialIconsBtm" src="../../assets/img/Behance-lilac.svg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="contentContainer">

            <div class="logo1024">
                <a href="blog.html"><img src="../../assets/img/FutureboyLogo-v2.png" alt=""></a>
            </div>

            <div class="articleIMG">
                <div class="articleImgPlacementWIDER750PX">
                    <img src="../../assets/img/lessonInFascination/line5.png" alt="">
                    <!-- <span class="imgSubtitle">Example of a Microcosm</span> -->
                </div>
            </div>

            <div class="articleData">
                <div class="articleDataPlacement">
                    <div class="postCategories">
                        <span>Visual Arts&nbsp&nbsp • &nbsp&nbsp Spirituality &nbsp&nbsp • &nbsp&nbsp Sacha</span>
                    </div>
                    <div class="postTitle">
                        <a href="#"><h1>A Brief Lesson In Fascination<br>& Craft</h1></a>
                    </div>
                    <div class="text">
                        <p>The starting point was my childhood, or rather, the way that I was as a child. I remember being fascinated by the most insignificant of details — in truth, those details meant the world to me. The depth of sound in a mountain stream. The musky beige scent of my grandfather’s books. A whispered rainbow, caught at the edge of a glass pane. I would spend moments completely absorbed in the microcosms of my senses.</p>
                        <p>The bliss I felt back then is the bliss I am only beginning to remember as I write this article. I imagine it is the same bliss William Blake expressed in Auguries of Innocence:</p>
                        <p class="quoteInText">To see a World in a Grain of Sand<br>And a Heaven in a Wild Flower<br>Hold Infinity in the palm of your hand<br>And Eternity in an hour</p>
                        <p>Now I realize what I was witnessing. I saw past the sand & wild flowers. I saw past what Lao Tzu calls the world of the Ten Thousand Things. My awe & wonder was fixed upon the essence of life itself.</p>
                        <p>I remember my 3rd grade teacher Mr. G once told my parents: “Sacha lives in a world of his own, but good things come out of that world”. Notice the “but”.</p>
                        <p>Then I grew up. How tragic.</p>
                        <p>As time went on, I was unconsciously conditioned to disregard my fascinations as trivial. Our collective production-mindset narrative convinced me to pay attention to “more important” things. My homework. My identity in the social shitshow of high school. What I wanted to be. The more serious I got, the more the magic faded. Life became grey.</p>
                            <div class="imgInText">
                                <img src="../../assets/img/lessonInFascination/line12.png" alt="">
                                <span class="imgSubtitle">The Social Shitshow of Highschool</span>
                            </div>
                        <p>Eventually my attention was divided into the past & future. I lost the present moment almost entirely, and with it, my Self. The curiosity which animated my tender years was crushed. This caused the tremendous inner pain of my adolescence. Of course I still had brief glimpses of connectedness, but they were the exception, not the rule.</p>
                        <p>My mother would often ask me where the joyful & light-hearted Sacha she knew had gone. I did not know. Into a black pit. Vanished. Out of sight. She knew what I would not admit to myself. I was un-well. I repressed that feeling as much as I could. She suggested that I meditate, and often quoted spiritual teachings in a futile attempt to help me. I was not listening. My eyes were closed. I had swapped life itself for bland dreams.</p>
                        <p>It is only in my recent life-review that I’ve come to understand what happened to that magical child. I stopped feeding him the Essence, the birthright of each and every spirit. I traded my True Self to hunt on the material plane, but I already had what I was seeking within every Moment.</p>
                        <p>Recently, reality-shaking experiences with Ayahuasca, LSD, magic mushrooms, the discovery of meditation (sorry it took so long Mom) and a stern spiritual slap-in-the-face from my fellow Futureboy Gregory brought me back to the fountain of life. Fuck was I thirsty.</p>
                        <p>It’s strange to say, but after walking through the barren desert for so long, my parched throat has trouble swallowing more than a few sips at a time. In fact, the phantom of my invented self (my façade, my lower identity which I’m desperately trying to get rid of) keeps taking over in my moments of unconsciousness. That fucker takes me out for a stroll in the desert again every chance he gets.</p>
                            <div class="imgInText">
                                <img src="../../assets/img/lessonInFascination/line20.png" alt="">
                                <span class="imgSubtitle">My Thirsty Adolescent Ego in the Canyonlands of Utah</span>
                            </div>
                        <p>I constantly need to watch this Phantom Self so that he doesn’t take over. He gets weaker every time I catch him, but it’s a work in progress.</p>
                        <p class="subtitle">"Bro, what about the black marker?"</p>
                        <p>That brings us to these lines I’ve drawn. I’m training myself to be fascinated again. To drink from the fountain. To see trivial things for the Essence they contain. The thought came to me during an LSD trip that I should endeavour to produce the simplest art possible. To see value in the most basic of forms. A line. Yes. What could simpler.</p>
                        <p>And indeed as I drew hundreds of black lines, my fascination grew. A waft of ink began to caress my nose. Boring, lifeless lines began to take on a life of their own. The more I surrendered myself to the process, the more I detached myself from the outcome, the more beautiful the lines became. They began to tell stories. I saw landscapes & figures take shape in the negative space of each stroke. Mesmerizing.</p>
                            <div class="imgInText">
                                <img src="../../assets/img/lessonInFascination/line21.png" alt="">
                                <span class="imgSubtitle">Look Mom, the Boreal Forest!</span>
                            </div>
                            <!-- <div class="youtubeVideo">
                                <iframe width="100%"  src="https://www.youtube.com/embed/B5WbSrorUyI" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <div class="vimeoVideo">
                                <iframe src="https://player.vimeo.com/video/212731897" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </div>
                            <div class="soundcloudInText">
                                <iframe width="100%" scrolling = '0' frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/310844014&amp;color=221f29&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                            </div> -->
                        <p>I realized I am incapable of producing grace through force of will. That instead, my most brilliant gestures are not mine at all. They come through me but are not of me. They are channeled from beyond the mind.</p>
                        <p>I used to feel guilt for my accidental works of beauty. I thought that the art I produce should be of Me, and not a “fluke” — after all, what would that make me? A fluke, clearly. An imposter. In retrospect I realize that I wasn’t trying to produce art at all. Instead, it was my ego at the easel, attempting to create an identity for itself. (I’m having a cautious chuckle here).</p>
                        <p>True, there are benefits to drawing a line with intention. This doesn’t mean control. Control destroys the line. A good line is mindless flow. A good line expresses itself. I am the facilitator of lines, not their maker. The ink & paper are not submitted to my hand. The opposite is closer to the Truth. And Truth is what we seek in art.</p>
                        <p>This line is not Mine.</p>
                        <p>I am the line.</p>
                        <div class="imgInText">
                            <img src="../../assets/img/lessonInFascination/TenThousandLines.png" alt="">
                            <span class="imgSubtitle">A Selection of My Finest Lines</span>
                        </div>



                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="bottom">

        <div class="marketingContent">
            <div class="marketingContentPlacement">
              <span class="bottomMarketing320">PS: If you've read this far, you're ready to learn more about living your purpose. Join the ride to receive some weekly golden nuggets from me and other members of the dream team!</span>
              <span class="bottomMarketing1024">PS: If you've read this far, you're ready to learn more about living your purpose.<br>Join the ride to receive some weekly golden nuggets from me and other members of the dream team!</span>
              <div class="ctaSubscribeBottom">
                <a href="subscribe.html" class="ctaSubscribeBottom">Sign me up :)</a>
              </div>
            </div>
        </div>

    <span class="copyBottom">More of the Good Stuff</span>
        <div class="socialMediaBottom">
            <div class="allThreeIcons">
                <a target="_blank" href="https://www.youtube.com" class="youtubeBtm"><img class="socialIconsBtm" src="../../assets/img/Youtube-lilac.svg" alt=""></a>
                <a target="_blank" href="https://www.instagram.com/futureboy_hq/" class="instagramBtm"><img class="socialIconsBtm" src="../../assets/img/Instagram-lilac.svg" alt=""></a>
                <a target="_blank" href="https://www.behance.net" class="behanceBtm"><img class="socialIconsBtm" src="../../assets/img/Behance-lilac.svg" alt=""></a>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="../../app/app.js"></script>

</body>

</html>
