<!DOCTYPE html>
<html>
  <head>
    <!--
    __________      _____                   ______
    ___  ____/___  ___  /____  ________________  /____________  __
    __  /_   _  / / /  __/  / / /_  ___/  _ \_  __ \  __ \_  / / /
    _  __/   / /_/ // /_ / /_/ /_  /   /  __/  /_/ / /_/ /  /_/ /
    /_/      \__,_/ \__/ \__,_/ /_/    \___//_.___/\____/_\__, /
                                                         /____/
    -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale = 1.0 maximum-scale=1.0 user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <script src="https://use.typekit.net/rer0env.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <title>M A A T</title>
    <link rel="stylesheet" href="../../assets/css/normalize.css">
    <link rel="stylesheet" href="../../assets/css/subscribe.css">
  </head>

  <body>


    <div class="bottom">

        <div class="marketing">
            <div class="marketingPlacement">
              <div class="copyFollow320">
                <div class="firstPart">
                  <div class="firstPartPlacement">
                    <h3>Get your weekly</h3>
                    <h1>Dose of Purpose</h1>
                    <span>Every Monday morning, you'll receive our golden nuggets from the past week. Here's what to expect:</span>
                  </div>
                </div>
                <div class="secondPart">
                  <ul>
                    <li>The best stories we've<br>experienced & lessons learned.</li>
                    <li>Top links that were actually interesting, and why they mattered.</li>
                    <li>Our most meaningful reflections.</li>
                  </ul>
                </div>

              </div>
              <div class="copyFollow1024">
                <div class="firstPart">
                  <div class="firstPartPlacement">
                    <h3>Get your weekly</h3>
                    <h1>Dose of Purpose</h1>
                    <span>Every Monday morning, you'll receive our golden nuggets<br>from the past week. Here's what to expect:</span>
                  </div>
                </div>
                <div class="secondPart">
                  <ul>
                    <li>Our most meaningful reflections.</li>
                    <li>The best stories we've experienced<br>and lessons learned.</li>
                    <li>Top links that were actually interesting,<br>and why they mattered.</li>
                  </ul>
                </div>
              </div>

              <div class="emailForm">
                <h3 class="learning">We're learning to live with purpose, so will you :)</h3>
                  <form action="joinedNewsletter.html">
                    <input class="nameInputBottom firstNameInput" type="text" name="firstName" placeholder="Enter your first name" required>
                    <!-- <input class="nameInputBottom lastNameInput" type="text" name="lastName" placeholder="Enter your last name" required > -->
                    <div class="emailInputBottomPlacement">
                      <input class="emailInputBottom" type="email" value="" placeholder="Enter your email address" required />
                    </div>
                    <input class="joinBtnBottom" type="submit" value="I'm in!" />
                  </form>
              </div>
            </div>
        </div>

    <span class="copyBottom">Or, if you're not sure yet, back to</span>
        <div class="socialMediaBottom">
            <div class="allThreeIcons">
                <a href="blog.html">phase-one.maat.space</a>
            </div>
        </div>
    </div>

      <script type="text/javascript" src="../../app/app.js"></script>



  </body>
</html>
