<!DOCTYPE html>
<html>
  <head>
    <!--
    __________      _____                   ______
    ___  ____/___  ___  /____  ________________  /____________  __
    __  /_   _  / / /  __/  / / /_  ___/  _ \_  __ \  __ \_  / / /
    _  __/   / /_/ // /_ / /_/ /_  /   /  __/  /_/ / /_/ /  /_/ /
    /_/      \__,_/ \__/ \__,_/ /_/    \___//_.___/\____/_\__, /
                                                         /____/
    -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale = 1.0 maximum-scale=1.0 user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <script src="https://use.typekit.net/rer0env.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <title>H U M A N S P A C E</title>
    <link rel="stylesheet" href="../../assets/css/normalize.css">
    <link rel="stylesheet" href="../../assets/css/subscribe.css">
  </head>

  <body>


    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>You're doubtful now. Aren't you? :)</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Don't Worry. All is good.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Our ultimate goal is to help you pursue your Smiles of Life. Just relax & take a deep breath.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>To make sure you let go of all problems in your mind, we've got a little meditative exercise for you. Just take a few deep breaths following the shape below. </h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Its soothing, promise :)</h1>
            </div>
        </div>
    </div>

    <div class="sectionOne">
        <div class="feather">
            <div class="featherPlacement">
                <img src="../../assets/img/breathe.gif" alt="">
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Perfect! Now that you're calm and the tensions are gone. Here's how it's going to work:</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>First, we'll ask you a question, and then, we'll introduce ourselves. At the end, you'll decide if you wanna continue with us, and get your weekly dose, deal?</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>All right! Before we start, know that if you're reading this, you're already closer to your destiny than you might think. ;)</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>So, let's go! Here's our intro question for you:</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Did you truly — we mean truly — choose the life path you are on right now?</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Take a few minutes to reflect about that tonight.</h1>
                <!-- <h1>The beauty now is that everybody on the team applying to university knows why and chose his/her program for the right reasons.</h1> -->
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>We ask, because at human.space, we’re fighting a peaceful war against lost potential.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>We believe it’s your right to forge your own path in life.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>That it’s your duty to work for it.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>And that even though it's going to be rough sometimes, it's your responsibility to keep pushing.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>However, you have our word that we're all in this together, and that we'll be there for you. We're ready to help out!</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Here's our message to Life: Here we come! Together, weeee cannnn dooo itttttt! :D</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>On that positive note, let's introduce you to our 3 commandments and what we stand for :)</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>#1 - Find your path</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>In this human space, we're all about self-discovery, digging into our subconscious mind,  learning & growing. We respect this sacred process more than anything: it is life itself.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>We go through all of this to experience the full depth of the human experience, and to find our unique life’s path.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>We also do our best to disregard the social pressure to conform.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>It's hard, but it gives us the opportunity to learn how to stand up for ourselves and to respect our inner voice.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Over time, we've realized that the inner voice has many forms: intuitions, inclinations, visons & dreams — but most of all:</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Smiles Of Life.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>These occur when you’ve found something so true, so deeply resonant, that it makes you grin wider than you thought possible.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>These Smiles are a compass, connecting you back to yourself & guiding you in the direction of your true life path. It is the key to having the impact you seek in this world.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>:)</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>#2 - Master yourself</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>That commandment pushes us to develop the inner toolkit that will clarify our visions and dreams.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>The toolkit includes an understanding of universal principles, and the development of particular traits. Here's a high-level insight:</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Universal love</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Curiosity</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Humility</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Discipline</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>& Resilience</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Essentially, we are continuously refining our ability to live our truth and go deeper into the quest of self-mastery.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>That beautiful quest forces us to chase limiting beliefs from our minds, tame our egos, conquer our fears, remove doubts, procrastination & negativity.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>All internal obstacles which would stop us from reaching our full potential have to go.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>As a result, we seek physical, mental, emotional & spiritual health; a connection to the world through love, real friends, & family.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Here, please note that family has brought a shit ton of challenges to some of our team members.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>From our experience, it appears like family brings some of the hardest decisions to make and will put you in front of situations requiring unconditional faith in yourself.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>It's painful and the challenging experiences on the path to master one's self sometimes create deep scars. However, after pushing through for 5 years, and doing our best to live up to our second commandment:</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>We realize that it organically brought us on the path to foster inner peace & harmony with the world, which represents an integral part of our holistic view of the human life.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>#3 — Master your craft</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>We seek mastery as a way to move the world forward. Skill gives weight to our dreams, materializing our visions into the real world, where it can have an impact on generations to come.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>We believe that the Renaissance ideal of the Universal Human is not dead.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>We believe in mastering many fields. Connecting the dots is the way of the future.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>We will choose love over fear, pursuing our callings no matter how unconventional.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>We will push our creations further through respect for the craft. We will seek to innovate, never settling for the status quo.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>That's it for our 3 commandments :) Time to reassess your position now!</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>If you don't resonate with what you've read so far, or if you aren't ready to take action towards reaching for your Smiles of Life....</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>We'll ask you to leave now. It's just not a match for now, but don't worry about it. We'll be happy to welcome you again when you're ready! :)</h1>
            </div>
        </div>
    </div>


    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>On the other hand, if you're digging what you've read so far, keep reading, and get excited cause the marginal stuff is one scroll away!</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Happy to see you chose to stay! :) You have to know that as flow seekers and top performers, we've definitely pushed ourselves to explore consciousness and open our minds to different possibilities regarding the human life.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Hence, everybody on the team so far has had experiences with medicinal plants and/or mind altering substances.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Take note: we're strong believers that these substances should only be done with the intention of expanding your inner world.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>As teachers, they'll bring you to places you didn't even think existed, helping you to question deep rooted misconceptions & see life from an elevated perspective.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>However, taken carelessly and as distractions, these substances will bring you down.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>So, which plants and substances have helped us expand our notion of life through altered states?</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Ayahuasca ceremonies</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Magic mushroom adventures</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>LSD inner journeys</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>MDMA bliss sessions</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>& couple joints here and there</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Now, stop the judgements, & don't run away thinking we're drugheads. Take a deep breath, and carefully read the following 2 sentences.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>It's super important for you to understand that these experiences represent 20-40% of the learnings we get from them.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>In fact, integration and making sure you follow up on your inner discoveries "in real life" account for the other 60-80%. That's where you'll find the work that truly matters.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Please don't forget that!</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>It will help you understand us, and will also set you up with the right mindset if you ever choose to explore consciousness as well. :)</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>That being said, we also explore the mind and work at understanding ourselves on a daily basis through the following activities:</h1>
            </div>
        </div>
    </div>


    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Meditation</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Yoga</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Tai Chi</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Cold resistance training</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Travel</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Cooking</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Dance</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Music</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>& Visual arts</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>All right, now that you know more about us, time for a second re-assessment. Are you still onboard?</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>If you're reading this, then you understand that we're all about going deeper into human life, and pushing away self-imposed limits. Good to see you here :)</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Now, it's time for you to learn about the team, what we study, and our projects.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>We're a team of 7 individuals. We cumulate more than 179 years of life experiences on this planet.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Together, we took the decision to commit to give our best shot at bringing back truth & universal harmony to this world. As you've seen, we’re radically honest with ourselves & others.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Some of us are dropouts. Others have college degrees. Some of us are older. Others are still teens. One is married. Others are single.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Some have studied in fields like design, software engineering, economics, finance, and orchestral studies.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Others are pursuing mastery in philosophy, pure & applied mathematics, electroacoustics & cuisine.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>All of this preparation and mindset has lead us to work on kickass startups & projects:</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Starting a game development label based on the following question: How can we create games and VR environments that immerse the player into the self-discovery process?</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>A music label based on the following intention: Create music from the heart to help you heal your soul.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>A business analytics software 100% focused on helping healthcare professional understand the performance of their clinic.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>3 of our team members are also preparing their entry into the cooking and fashion world!</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>With so many new opportunities on the horizon, new contacts pouring in & new visions forming, you can expect much more to emerge as we move forward.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>The ultimate goal is for you to learn from our mistakes & successes, and use the valuable insights while to pursue YOUR Smiles of Life.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>But for that, you'll have to choose to stay with us :)</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Hence, the time has come for you to take a stance and choose if you want to join the quest or not.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Our dream is to help you uncover your smiles of life. To help you commit to them so you can find your path, master yourself & master your craft.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>If you sign up to the human.space, we'll be embarking on a journey together, through which we'll evolve tremendously. We hope it will last for many generations to come.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>As you’re reading this, we've only just begun, and our first gift to you is the Weekly Dose Project.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Every Monday morning, you'll receive our golden nuggets from the past week. Here's what to expect:</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>1. Pursuing Smiles Of Life makes for great stories, lesson & wisdom. We’ll be sharing our “best of” with you.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>2. Links to the best content we’ve found — and why it matters.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>3. Our most meaningful reflections on books, consciousness, good food, music, our startups, and visual arts — all in the hope to help you find your path, master yourself, and master your crafts.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>That's it.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>It's your turn now. See you on the other side :)</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="emailForm">
              <!-- <h1 class="learning">It's your turn now. See you on the other side ;)</h1> -->
                <form action="joinedWeeklyDose.html">
                  <input class="nameInputBottom firstNameInput" type="text" name="firstName" placeholder="Enter your first name" required>
                  <!-- <input class="nameInputBottom lastNameInput" type="text" name="lastName" placeholder="Enter your last name" required > -->
                  <div class="emailInputBottomPlacement">
                    <input class="emailInputBottom" type="email" value="" placeholder="Enter your email address" required />
                  </div>
                  <input class="joinBtnBottom rainbow" type="submit" value="I'm in!" />
                </form>
            </div>
        </div>
    </div>

      <script type="text/javascript" src="../../app/app.js"></script>



  </body>
</html>
