<!DOCTYPE html>
<html>
  <head>
    <!--
    __________      _____                   ______
    ___  ____/___  ___  /____  ________________  /____________  __
    __  /_   _  / / /  __/  / / /_  ___/  _ \_  __ \  __ \_  / / /
    _  __/   / /_/ // /_ / /_/ /_  /   /  __/  /_/ / /_/ /  /_/ /
    /_/      \__,_/ \__/ \__,_/ /_/    \___//_.___/\____/_\__, /
                                                         /____/
    -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale = 1.0 maximum-scale=1.0 user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <script src="https://use.typekit.net/rer0env.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <title>H U M A N S P A C E</title>
    <link rel="stylesheet" href="../../assets/css/normalize.css">
    <link rel="stylesheet" href="../../assets/css/subscribe.css">
  </head>

  <body>


    <div class="sectionOne">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>You're doubtful now. Aren't you? :)</h1>
            </div>
        </div>
    </div>

    <div class="section2">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>But stand still. Relax. Take a deep breath.</h1>
            </div>
        </div>
    </div>

    <div class="section2">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Not sure you took a real deep breath here. Try again. It really helps and its soothing, promise :)</h1>
            </div>
        </div>
    </div>

    <div class="section3">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Perfect! Now that you're calm and the tensions are gone. Here's how it's going to work: first, we'll introduce ourselves, and then, you'll decide if you wanna continue with us, and get your weekly dose, deal?</h1>
            </div>
        </div>
    </div>

    <div class="section2">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>All right! If you're reading this, you're already closer to being the chosen one than you think you are ;) So, who are we?</h1>
            </div>
        </div>
    </div>

    <div class="section3">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>We're a team of 7 individuals. We cumulate 179 years of life and experiences on this planet. Some of us are dropouts, some have degrees, one has a master and a wife, while two are still teens.</h1>
            </div>
        </div>
    </div>

    <div class="section4">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>The ones who completed or dropped out of university studied Design, Software Engineering, Economics, Finance, and Orchestral studies.</h1>
            </div>
        </div>
    </div>

    <div class="section5">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>The ones going (back) to university will study the art of cooking, pure and applied mathematics, philosophy and electroacoustics.</h1>
                <!-- <h1>The beauty now is that everybody on the team applying to university knows why and chose his/her program for the right reasons.</h1> -->
            </div>
        </div>
    </div>

    <div class="section4">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>All these studies and experiences are now allowing us to work on kickass startups and projects. Here's a teaser: </h1>
            </div>
        </div>
    </div>

    <div class="section4">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Starting a game development label (2D + VR)</h1>
            </div>
        </div>
    </div>

    <div class="section4">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>A music label</h1>
            </div>
        </div>
    </div>

    <div class="section4">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>A clothing brand</h1>
            </div>
        </div>
    </div>

    <div class="section4">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Business analytics software to disrupt a dinosaur industry</h1>
            </div>
        </div>
    </div>

    <div class="section4">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>That's it for now, and the good news is that there's much more to it both in terms of projects, individuals and vision.</h1>
            </div>
        </div>
    </div>

    <div class="section4">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>The ultimate goal is that you learn from our mistake, and get on the quest to find/pursue YOUR Smiles of Life.</h1>
            </div>
        </div>
    </div>

    <div class="section4">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>But for that, you'll have to choose to stay with us :)</h1>
            </div>
        </div>
    </div>

    <div class="section6">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>That being said, enough with us for now, and before we continue, we've got a little question for you. (yep, whether you're 18, 31, 53 or 75 and think you know better, it's a universal question hehe)</h1>
            </div>
        </div>
    </div>

    <div class="section7">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Did you truly,</h1>
            </div>
        </div>
    </div>

    <div class="section7">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>we truly mean truly here,</h1>
            </div>
        </div>
    </div>

    <div class="section7">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>choose the life path you are on right now?</h1>
            </div>
        </div>
    </div>

    <div class="section7">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Take couple minutes to reflect about that tonight. Introspections never brought anyone further away from their truth. It's actually quite the contrary!</h1>
            </div>
        </div>
    </div>

    <div class="section7">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>In this human space, we're all about self-discovery, digging into our internal abysses, living our truth, taming our fears, and getting the most learnings out of the human experience.</h1>
            </div>
        </div>
    </div>

    <div class="section7">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>We also want to let you know that we ain't about comforming here. We chase limiting beliefs like nobody else. We also took the decision to commit 100% of our lives to bring back universal harmony, and truth to this world.</h1>
            </div>
        </div>
    </div>

    <div class="section7">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>If you don't resonate with that, or aren't ready to take action, tame your ego, and live in harmony with the world. We'll ask you to leave now please. It's just not a match for now, but don't worry about it. We'll be happy to welcome you again when you're ready! :)</h1>
            </div>
        </div>
    </div>

    <div class="section7">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>On the other side, if you're digging what you've seen so far, keep reading, and get excited cause the more marginal stuff is one scroll away! :D</h1>
            </div>
        </div>
    </div>


    <div class="section9">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>As flow seekers and top performers, we've definitely pushed ourselves on the path to explore consciousness, and open our minds to different possibilities regarding the human life.</h1>
            </div>
        </div>
    </div>

    <div class="section9">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Hence, everybody on the team so far has had experiences with medicinal plants and/or mind altering substances.</h1>
            </div>
        </div>
    </div>

    <div class="section9">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Take note that we are strong believers that these substances should only be done with a thoughtful intention, the will to learn, and grow.</h1>
            </div>
        </div>
    </div>

    <div class="section9">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>In fact, taken as a distraction, they'll bring you down, but as teachers, they'll bring you to places you didn't even think existed.</h1>
            </div>
        </div>
    </div>

    <div class="section9">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>So here we are, together, and over 179 years, we cumulate:</h1>
            </div>
        </div>
    </div>

    <div class="section9">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Ayahuasca ceremonies,</h1>
            </div>
        </div>
    </div>

    <div class="section9">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Magic mushroom adventures,</h1>
            </div>
        </div>
    </div>

    <div class="section9">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>LSD exploration trips,</h1>
            </div>
        </div>
    </div>

    <div class="section9">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>MDMA bliss sessions,</h1>
            </div>
        </div>
    </div>

    <div class="section9">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Casual joints,</h1>
            </div>
        </div>
    </div>

    <div class="section9">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Salvia trips,</h1>
            </div>
        </div>
    </div>

    <div class="section9">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>and lastly, few shitty cocaine intakes.</h1>
            </div>
        </div>
    </div>

    <div class="section9">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>*** First life tip for you: Don't do cocaine. For real. You won't learn shit from it, its addictive, costly and most importantly, we care for you :)</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>So, if you're still with us and understand that we're about digging deeper into the human life, and pushing the limits, below are the commandments that hold us all together:</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>1. Our will to master life, tame the ego, choose love over fear, and set ourselves free.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>2. We use medicinal plants and other substances thoughtfully to learn and work on ourselves. The trip is 5-15%, integration represents the other 85-95%!</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>3. We firmly believe that comforming to the system is worst than the worst nightmare ever.</h1>
            </div>
        </div>
    </div>


    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>4. WE WILL NEVER SETTLE. We're hustlers. We figure shit out on our own. That's a huge part of our life, belief system, and growth oriented mindsets.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>5. WE WILL PURSUE SMILES OF LIFE FOREVER. We discovered that natural phenomena 7 years ago, and since then, we've been on the quest.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>*** Here's our second life tip for you: Embarking on the Smile of Life journey will lead you to connect back to yourself, live your truth and have the impact you always dreamed of having in this world. But tbh, you can't really explain a Smile of Life, you can only feel & live it! :)</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>All right all right! The time has come for you to take a stance and choose if you want to join the quest or not.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Don't forget: Our dream is to see you discover and commit to your smiles of life!</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>If you sign up to the human.space journey, you'll be embarking on a journey that will evolve tremendously and we hope, will last for centuries to come. Now, we're just starting, and our first gift to you is the weekly dose project.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>Every monday morning, you'll receive our golden nuggets from the past week. Here's what to expect:</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>1. The best stories, wisdom & lessons we've<br>been through while pursuing the smiles of life.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>2. Top links that were actually interesting, and why they mattered.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>3. Our most meaningful reflections on books, consciousness, good food, music, our startups, and visual arts helping us find our path, master ourselves, and master our crafts.</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>That's it!</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="copySelfMastery">
                <h1>It's your turn now. See you on the other side ;)</h1>
            </div>
        </div>
    </div>

    <div class="section10">
        <div class="copySectionBird1Container">
            <div class="emailForm">
              <!-- <h1 class="learning">It's your turn now. See you on the other side ;)</h1> -->
                <form action="joinedWeeklyDose.html">
                  <input class="nameInputBottom firstNameInput" type="text" name="firstName" placeholder="Enter your first name" required>
                  <!-- <input class="nameInputBottom lastNameInput" type="text" name="lastName" placeholder="Enter your last name" required > -->
                  <div class="emailInputBottomPlacement">
                    <input class="emailInputBottom" type="email" value="" placeholder="Enter your email address" required />
                  </div>
                  <input class="joinBtnBottom rainbow" type="submit" value="I'm in!" />
                </form>
            </div>
        </div>
    </div>

      <script type="text/javascript" src="../../app/app.js"></script>



  </body>
</html>
