<!DOCTYPE html>
<html>
  <head>
    <!--
    __________      _____                   ______
    ___  ____/___  ___  /____  ________________  /____________  __
    __  /_   _  / / /  __/  / / /_  ___/  _ \_  __ \  __ \_  / / /
    _  __/   / /_/ // /_ / /_/ /_  /   /  __/  /_/ / /_/ /  /_/ /
    /_/      \__,_/ \__/ \__,_/ /_/    \___//_.___/\____/_\__, /
                                                         /____/
    -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale = 1.0 maximum-scale=1.0 user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <script src="https://use.typekit.net/rer0env.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <title>Futureboy</title>
    <link rel="stylesheet" href="../../assets/css/normalize.css">
    <link rel="stylesheet" href="../../assets/css/theCrewNIGHT.css">
  </head>
  <body>

    <div class="navBar">
        <div class="navContent"  data-topbar data-options="scrolltop:false">
            <div class="logoFuture">
                <a href="blog.html"><img class="logoPNG"src="../../assets/img/FutureboyLogo-v2.png" alt=""></a>
            </div>

              <div class="hamburger">
                  <a href="#">
                      <div class="lineUp lineStyle"></div>
                      <div class="lineMid lineStyle"></div>
                      <div class="lineDown lineStyle"></div>
                  </a>
              </div>



        </div>
        <ul class="ul800">
            <li class="FB"><a href="blog.html"><span>The Blog</span></a></li>
            <li class="WoL"><a href="wayOfLife.html"><span>Way of Life</span></a></li>
            <li class="TC"><a href="theCrew.html"><span>The Crew</span></a></li>
        </ul>
    </div>

    <div class="menu">
            <div class="topSection"></div>
            <div class="menuContainer320 slideDown" id="sliding">
                <div class="colWrapper">
                    <div class="leftCol">
                        <div class="exploreSection">
                            <div class="sectionTitle">
                                <span>Explore Sections</span>
                            </div>
                            <div class="separator blockOne"></div>
                            <ul class="ulBlock">
                                <li><a href="blog.html">The Blog</a></li>
                                <li><a href="wayOfLife.html">Way of Life</a></li>
                                <li><a href="theCrew.html">The Crew</a></li>
                            </ul>
                        </div>

                        <div class="filterBy">
                            <div class="sectionTitle">
                                <span>Filter by futureboy</span>
                            </div>
                            <div class="separator blockTwo"></div>
                            <ul class="ulBlock">
                                <li><a href="#">Gregory</a></li>
                                <li><a href="#">Philippe</a></li>
                                <li><a href="#">Sacha</a></li>
                            </ul>
                            <div class="sectionTitle">
                                <span>Filter by futuregirl</span>
                            </div>
                            <div class="separator blockTwo"></div>
                            <ul class="ulBlock">
                                <li><a href="#">Chloe</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="rightCol">
                        <div class="resonateWith">
                            <div class="sectionTitle">
                                <span>Resonate with</span>
                            </div>
                            <div class="separator blockThree"></div>
                            <ul class="ulBlock">
                                <li><a href="#">Books</a></li>
                                <li><a href="#">Drugs</a></li>
                                <li><a href="#">Flow</a></li>
                                <li><a href="#">Health</a></li>
                                <li><a href="#">Music</a></li>
                                <li><a href="#">Social dynamics</a></li>
                                <li><a href="#">Spirituality</a></li>
                                <li><a href="#">Startup Journey</a></li>
                                <li><a href="#">Tech</a></li>
                                <li><a href="#">Travel</a></li>
                                <li><a href="#">Visual arts</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="socialMedia360 socialMediaMenu360">
                    <a target="_blank" href="https://www.youtube.com" class="youtube"><img class="socialIcons" src="../../assets/img/Youtube-lilac.svg" alt=""></a>
                    <a target="_blank" href="https://www.instagram.com/futureboy_hq/" class="instagram"><img class="socialIcons" src="../../assets/img/Instagram-lilac.svg" alt=""></a>
                    <a target="_blank" href="https://www.behance.net" class="behance"><img class="socialIcons" src="../../assets/img/Behance-lilac.svg" alt=""></a>
                </div>
            </div>

            <div class="menuContainer768 slideDown">
                <div class="colWrapper">

                        <div class="exploreSection">
                            <div class="sectionTitle">
                                <span>Explore Sections</span>
                            </div>
                            <div class="separator blockOne"></div>
                            <ul class="ulBlock">
                                <li><a href="blog.html">The Blog</a></li>
                                <li><a href="wayOfLife.html">Way of Life</a></li>
                                <li><a href="theCrew.html">The Crew</a></li>
                            </ul>
                        </div>

                        <div class="resonateWith">
                            <div class="sectionTitle">
                                <span>Resonate with</span>
                            </div>
                            <div class="separator blockThree"></div>
                            <ul class="ulBlock">
                                <li><a href="#">Books</a></li>
                                <li><a href="#">Drugs</a></li>
                                <li><a href="#">Flow</a></li>
                                <li><a href="#">Health</a></li>
                                <li><a href="#">Music</a></li>
                                <li><a href="#">Social dynamics</a></li>
                                <li><a href="#">Spirituality</a></li>
                                <li><a href="#">Startup Journey</a></li>
                                <li><a href="#">Tech</a></li>
                                <li><a href="#">Travel</a></li>
                                <li><a href="#">Visual arts</a></li>
                            </ul>
                        </div>

                        <div class="filterBy">
                            <div class="sectionTitle">
                                <span>Filter by futureboy</span>
                            </div>
                            <div class="separator blockTwo"></div>
                            <ul class="ulBlock">
                                <li><a href="#">Gregory</a></li>
                                <li><a href="#">Philippe</a></li>
                                <li><a href="#">Sacha</a></li>
                            </ul>
                            <div class="sectionTitle">
                                <span>Filter by futuregirl</span>
                            </div>
                            <div class="separator blockTwo"></div>
                            <ul class="ulBlock">
                                <li><a href="#">Chloe</a></li>
                            </ul>
                        </div>
                </div>

                <div class="bottom768Placement">
                    <div class="bottom768">
                        <span class="copyBottom">More Of The Good Stuff</span>
                            <div class="socialMediaBottom">
                            <div class="allThreeIcons">
                                <a target="_blank" href="https://www.youtube.com" class="youtubeBtm"><img class="socialIconsBtm" src="../../assets/img/Youtube-lilac.svg" alt=""></a>
                                <a target="_blank" href="https://www.instagram.com/futureboy_hq/" class="instagramBtm"><img class="socialIconsBtm" src="../../assets/img/Instagram-lilac.svg" alt=""></a>
                                <a target="_blank" href="https://www.behance.net" class="behanceBtm"><img class="socialIconsBtm" src="../../assets/img/Behance-lilac.svg" alt=""></a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <div class="menuWrapper1024 slideLeft">
                <div class="logoPlacement">
                    <div class="logoFuture1024">
                        <!-- <img class="logoPNG1024"src="../../assets/img/FutureboyLogo-v2.png" alt=""> -->
                    </div>
                </div>
                <div class="menuContainer1024">
                    <div class="colWrapper">
                        <div class="colLeft">
                            <div class="exploreSection">
                                <div class="sectionTitle">
                                    <span>Explore Sections</span>
                                </div>
                                <div class="separator blockOne"></div>
                                <ul class="ulBlock">
                                    <li><a href="blog.html">The Blog</a></li>
                                    <li><a href="wayOfLife.html">Way of Life</a></li>
                                    <li><a href="theCrew.html">The Crew</a></li>
                                </ul>
                            </div>

                            <div class="resonateWith">
                                <div class="sectionTitle">
                                    <span>Resonate with</span>
                                </div>
                                <div class="separator blockThree"></div>
                                <ul class="ulBlock">
                                    <li><a href="#">Books</a></li>
                                    <li><a href="#">Drugs</a></li>
                                    <li><a href="#">Flow</a></li>
                                    <li><a href="#">Health</a></li>
                                    <li><a href="#">Music</a></li>
                                    <li><a href="#">Social dynamics</a></li>
                                    <li><a href="#">Spirituality</a></li>
                                    <li><a href="#">Startup journey</a></li>
                                    <li><a href="#">Tech</a></li>
                                    <li><a href="#">Travel</a></li>
                                    <li><a href="#">Visual arts</a></li>
                                </ul>
                            </div>

                            <div class="filterBy">
                                <div class="sectionTitle">
                                    <span>Filter by futureboy</span>
                                </div>
                                <div class="separator blockTwo"></div>
                                <ul class="ulBlock">
                                    <li><a href="#">Gregory</a></li>
                                    <li><a href="#">Philippe</a></li>
                                    <li><a href="#">Sacha</a></li>
                                </ul>
                                <div class="sectionTitle">
                                    <span>Filter by futuregirl</span>
                                </div>
                                <div class="separator blockTwo"></div>
                                <ul class="ulBlock">
                                    <li><a href="#">Chloe</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="colRight">
                            <div class="padColRight">
                                <h1 class="newletter">Newsletter</h1>
                                <h3 class="copySloganMENU">Get inspired. Take action.<br>Build your dream.</h3>
                                <div class="emailFormMENU">
                                    <form>
                                      <input class="emailInputMENU" type="email" value="" placeholder="Your Email" required />
                                      <input class="joinBtnMENU" type="submit" value="Join the Crew" />
                                    </form>
                                </div>
                                <div class="copyFollow768MENU">
                                    <span>Follow our story & receive a weekly email packed<br>with things that inspire us + our freshest content.<br>Curated with love, promise :)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bottom1024">
                        <span class="copyBottom">More Of The Good Stuff</span>
                            <div class="socialMediaBottom">
                            <div class="allThreeIcons">
                                <a target="_blank" href="https://www.youtube.com" class="youtubeBtm"><img class="socialIconsBtm" src="../../assets/img/Youtube-lilac.svg" alt=""></a>
                                <a target="_blank" href="https://www.instagram.com/futureboy_hq/" class="instagramBtm"><img class="socialIconsBtm" src="../../assets/img/Instagram-lilac.svg" alt=""></a>
                                <a target="_blank" href="https://www.behance.net" class="behanceBtm"><img class="socialIconsBtm" src="../../assets/img/Behance-lilac.svg" alt=""></a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
          <div class="contentContainer">

            <div class="logo1024">
              <a href="index.html"><img src="../../assets/img/FutureboyLogo-v2.png" alt=""></a>
            </div>

            <!-- <div class="headline">
              <h1>The Crew</h1>
            </div> -->


            <div class="sectionOne">

              <div class="crewIMG768">
                <img class="img320" src="../../assets/img/Crew-Night-640px.JPG" alt="">
                <img class="img768" src="../../assets/img/Crew-Night-1440x.JPG" alt="">
              </div>
              <div class="crewIMG1024">

              </div>

              <div class="imgExplain">
                <div class="imgExplainPlacement">
                  <div class="crewSubtitle">
                    <h4>The Dream Team</h4>
                    <h1>How We Came To Be</h1>
                  </div>
                  <div class="crewDescription">
                    <p>It all started 2 years ago when we met to startup a dental software company. Sacha was the talented designer, Philippe the shaolin coder, and Gregory the visionary. After moving in together and failing to materialize that first project, we dug deeper than ever before into our internal abysses. After 8 months of intangible progress, we are at it again with a new shared belief system, an incredible friendship, and a solid foundation. Chloe, who's been going at it alone meanwhile, adds another dimension to the team with her elegance, maturity, and stillness. We. are. one.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="sectionTwo">
              <div class="sectionMember">
                <div class="memberImg">
                  <img src="../../assets/img/Chloe.gif" alt="">
                </div>

                <div class="imgExplain">
                  <div class="imgExplainPlacement">
                    <div class="crewSubtitle">
                      <h4>Panda</h4>
                      <h1>Chloe</h1>
                    </div>
                    <div class="crewDescription">
                      <p>It all started 5 years ago, the ideas had come to her years before on a train ride from Caen to Paris. He had worked on a few chapters in there, but he only really found his momentum back in the Montreal. It all started 5 years ago, the ideas had come to her years before on a train ride from Caen to Paris. He had worked on a few chapters in Paris, but he only really found his momentum back in the Montreal.</p>
                    </div>
                    <div class="blogBtn">
                        <button class="blogBtnStyle" type="button" name="button"><a href="blog.html">Learn It All</a></button>
                    </div>
                    <div class="btnInfo">
                      <span>See the full list of Gregory's content</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="sectionMember">
                <div class="memberImg">
                  <img src="../../assets/img/Greg.gif" alt="">
                </div>

                <div class="imgExplain">
                  <div class="imgExplainPlacement">
                    <div class="crewSubtitle">
                      <h4>Jaguar</h4>
                      <h1>Gregory</h1>
                    </div>
                    <div class="crewDescription">
                      <p>It all started 5 years ago, the ideas had come to her years before on a train ride from Caen to Paris. He had worked on a few chapters in there, but he only really found his momentum back in the Montreal. It all started 5 years ago, the ideas had come to her years before on a train ride from Caen to Paris. He had worked on a few chapters in Paris, but he only really found his momentum back in the Montreal.</p>
                    </div>
                    <div class="blogBtn">
                        <button class="blogBtnStyle" type="button" name="button"><a href="blog.html">Learn It All</a></button>
                    </div>
                    <div class="btnInfo">
                      <span>See the full list of Gregory's content</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="sectionMember">
                <div class="memberImg">
                  <img src="../../assets/img/Phil.gif" alt="">
                </div>

                <div class="imgExplain">
                  <div class="imgExplainPlacement">
                    <div class="crewSubtitle">
                      <h4>Bear</h4>
                      <h1>Philippe</h1>
                    </div>
                    <div class="crewDescription">
                      <p>It all started 5 years ago, the ideas had come to her years before on a train ride from Caen to Paris. He had worked on a few chapters in there, but he only really found his momentum back in the Montreal. It all started 5 years ago, the ideas had come to her years before on a train ride from Caen to Paris. He had worked on a few chapters in Paris, but he only really found his momentum back in the Montreal.</p>
                    </div>
                    <div class="blogBtn">
                        <button class="blogBtnStyle" type="button" name="button"><a href="blog.html">Learn It All</a></button>
                    </div>
                    <div class="btnInfo">
                      <span>See the full list of Philippe's content</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="sectionMember">
                <div class="memberImg">
                  <img src="../../assets/img/Sacha.gif" alt="">
                </div>

                <div class="imgExplain">
                  <div class="imgExplainPlacement">
                    <div class="crewSubtitle">
                      <h4>Mountain Lion</h4>
                      <h1>Sacha</h1>
                    </div>
                    <div class="crewDescription">
                      <p>It all started 5 years ago, the ideas had come to her years before on a train ride from Caen to Paris. He had worked on a few chapters in there, but he only really found his momentum back in the Montreal. It all started 5 years ago, the ideas had come to her years before on a train ride from Caen to Paris. He had worked on a few chapters in Paris, but he only really found his momentum back in the Montreal.</p>
                    </div>
                    <div class="blogBtn">
                        <button class="blogBtnStyle" type="button" name="button"><a href="blog.html">Learn It All</a></button>
                    </div>
                    <div class="btnInfo">
                      <span>See the full list of Sacha's content</span>
                    </div>
                  </div>
                </div>
              </div>


            </div>



          </div>


        </div>
        
          <div class="bottom">
              <span class="copyBottom">More Of The Good Stuff</span>
                  <div class="socialMediaBottom">
                    <div class="allThreeIcons">
                      <a target="_blank" href="https://www.youtube.com" class="youtubeBtm"><img class="socialIconsBtm" src="../../assets/img/Youtube-lilac.svg" alt=""></a>
                      <a target="_blank" href="https://www.instagram.com/futureboy_hq/" class="instagramBtm"><img class="socialIconsBtm" src="../../assets/img/Instagram-lilac.svg" alt=""></a>
                      <a target="_blank" href="https://www.behance.net" class="behanceBtm"><img class="socialIconsBtm" src="../../assets/img/Behance-lilac.svg" alt=""></a>                        </div>
                  </div>
          </div>




      <script type="text/javascript" src="../../app/app.js"></script>

  </body>
</html>
