<!DOCTYPE html>
<html>
  <head>
    <!--
    __________      _____                   ______
    ___  ____/___  ___  /____  ________________  /____________  __
    __  /_   _  / / /  __/  / / /_  ___/  _ \_  __ \  __ \_  / / /
    _  __/   / /_/ // /_ / /_/ /_  /   /  __/  /_/ / /_/ /  /_/ /
    /_/      \__,_/ \__/ \__,_/ /_/    \___//_.___/\____/_\__, /
                                                         /____/
    -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale = 1.0 maximum-scale=1.0 user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <script src="https://use.typekit.net/rer0env.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <title>Futureboy</title>
    <link rel="stylesheet" href="../../assets/css/normalize.css">
    <link rel="stylesheet" href="../../assets/css/wayOfLife.css">
  </head>

  <body>

    <div class="navBar">
        <div class="navContent"  data-topbar data-options="scrolltop:false">
            <div class="logoFuture">
                <a href="blog.html"><img class="logoPNG"src="../../assets/img/FutureboyLogo-v2.png" alt=""></a>
            </div>

              <div class="hamburger">
                  <a href="#">
                      <div class="lineUp lineStyle"></div>
                      <div class="lineMid lineStyle"></div>
                      <div class="lineDown lineStyle"></div>
                  </a>
              </div>



        </div>
        <ul class="ul800">
            <li class="FB"><a href="blog.html"><span>The Blog</span></a></li>
            <li class="WoL"><a href="wayOfLife.html"><span>Way of Life</span></a></li>
            <li class="TC"><a href="theCrew.html"><span>The Crew</span></a></li>
        </ul>
    </div>

    <div class="menu">
            <div class="topSection"></div>
            <div class="menuContainer320 slideDown" id="sliding">
                <div class="colWrapper">
                    <div class="leftCol">
                        <div class="exploreSection">
                            <div class="sectionTitle">
                                <span>Explore Sections</span>
                            </div>
                            <div class="separator blockOne"></div>
                            <ul class="ulBlock">
                                <li><a href="blog.html">The Blog</a></li>
                                <li><a href="wayOfLife.html">Way of Life</a></li>
                                <li><a href="theCrew.html">The Crew</a></li>
                            </ul>
                        </div>

                        <div class="filterBy">
                            <div class="sectionTitle">
                                <span>Filter by futureboy</span>
                            </div>
                            <div class="separator blockTwo"></div>
                            <ul class="ulBlock">
                                <li><a href="#">Gregory</a></li>
                                <li><a href="#">Philippe</a></li>
                                <li><a href="#">Sacha</a></li>
                            </ul>
                            <div class="sectionTitle">
                                <span>Filter by futuregirl</span>
                            </div>
                            <div class="separator blockTwo"></div>
                            <ul class="ulBlock">
                                <li><a href="#">Chloe</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="rightCol">
                        <div class="resonateWith">
                            <div class="sectionTitle">
                                <span>Resonate with</span>
                            </div>
                            <div class="separator blockThree"></div>
                            <ul class="ulBlock">
                                <li><a href="#">Books</a></li>
                                <li><a href="#">Drugs</a></li>
                                <li><a href="#">Flow</a></li>
                                <li><a href="#">Health</a></li>
                                <li><a href="#">Music</a></li>
                                <li><a href="#">Social dynamics</a></li>
                                <li><a href="#">Spirituality</a></li>
                                <li><a href="#">Startup Journey</a></li>
                                <li><a href="#">Tech</a></li>
                                <li><a href="#">Travel</a></li>
                                <li><a href="#">Visual arts</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="socialMedia360 socialMediaMenu360">
                    <a target="_blank" href="https://www.youtube.com" class="youtube"><img class="socialIcons" src="../../assets/img/Youtube-lilac.svg" alt=""></a>
                    <a target="_blank" href="https://www.instagram.com/futureboy_hq/" class="instagram"><img class="socialIcons" src="../../assets/img/Instagram-lilac.svg" alt=""></a>
                    <a target="_blank" href="https://www.behance.net" class="behance"><img class="socialIcons" src="../../assets/img/Behance-lilac.svg" alt=""></a>
                </div>
            </div>

            <div class="menuContainer768 slideDown">
                <div class="colWrapper">

                        <div class="exploreSection">
                            <div class="sectionTitle">
                                <span>Explore Sections</span>
                            </div>
                            <div class="separator blockOne"></div>
                            <ul class="ulBlock">
                                <li><a href="blog.html">The Blog</a></li>
                                <li><a href="wayOfLife.html">Way of Life</a></li>
                                <li><a href="theCrew.html">The Crew</a></li>
                            </ul>
                        </div>

                        <div class="resonateWith">
                            <div class="sectionTitle">
                                <span>Resonate with</span>
                            </div>
                            <div class="separator blockThree"></div>
                            <ul class="ulBlock">
                                <li><a href="#">Books</a></li>
                                <li><a href="#">Drugs</a></li>
                                <li><a href="#">Flow</a></li>
                                <li><a href="#">Health</a></li>
                                <li><a href="#">Music</a></li>
                                <li><a href="#">Social dynamics</a></li>
                                <li><a href="#">Spirituality</a></li>
                                <li><a href="#">Startup Journey</a></li>
                                <li><a href="#">Tech</a></li>
                                <li><a href="#">Travel</a></li>
                                <li><a href="#">Visual arts</a></li>
                            </ul>
                        </div>

                        <div class="filterBy">
                            <div class="sectionTitle">
                                <span>Filter by futureboy</span>
                            </div>
                            <div class="separator blockTwo"></div>
                            <ul class="ulBlock">
                                <li><a href="#">Gregory</a></li>
                                <li><a href="#">Philippe</a></li>
                                <li><a href="#">Sacha</a></li>
                            </ul>
                            <div class="sectionTitle">
                                <span>Filter by futuregirl</span>
                            </div>
                            <div class="separator blockTwo"></div>
                            <ul class="ulBlock">
                                <li><a href="#">Chloe</a></li>
                            </ul>
                        </div>
                </div>

                <div class="bottom768Placement">
                    <div class="bottom768">
                        <span class="copyBottom">More Of The Good Stuff</span>
                            <div class="socialMediaBottom">
                            <div class="allThreeIcons">
                                <a target="_blank" href="https://www.youtube.com" class="youtubeBtm"><img class="socialIconsBtm" src="../../assets/img/Youtube-lilac.svg" alt=""></a>
                                <a target="_blank" href="https://www.instagram.com/futureboy_hq/" class="instagramBtm"><img class="socialIconsBtm" src="../../assets/img/Instagram-lilac.svg" alt=""></a>
                                <a target="_blank" href="https://www.behance.net" class="behanceBtm"><img class="socialIconsBtm" src="../../assets/img/Behance-lilac.svg" alt=""></a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <div class="menuWrapper1024 slideLeft">
                <div class="logoPlacement">
                    <div class="logoFuture1024">
                        <!-- <img class="logoPNG1024"src="../../assets/img/FutureboyLogo-v2.png" alt=""> -->
                    </div>
                </div>
                <div class="menuContainer1024">
                    <div class="colWrapper">
                        <div class="colLeft">
                            <div class="exploreSection">
                                <div class="sectionTitle">
                                    <span>Explore Sections</span>
                                </div>
                                <div class="separator blockOne"></div>
                                <ul class="ulBlock">
                                    <li><a href="blog.html">The Blog</a></li>
                                    <li><a href="wayOfLife.html">Way of Life</a></li>
                                    <li><a href="theCrew.html">The Crew</a></li>
                                </ul>
                            </div>

                            <div class="resonateWith">
                                <div class="sectionTitle">
                                    <span>Resonate with</span>
                                </div>
                                <div class="separator blockThree"></div>
                                <ul class="ulBlock">
                                    <li><a href="#">Books</a></li>
                                    <li><a href="#">Drugs</a></li>
                                    <li><a href="#">Flow</a></li>
                                    <li><a href="#">Health</a></li>
                                    <li><a href="#">Music</a></li>
                                    <li><a href="#">Social dynamics</a></li>
                                    <li><a href="#">Spirituality</a></li>
                                    <li><a href="#">Startup journey</a></li>
                                    <li><a href="#">Tech</a></li>
                                    <li><a href="#">Travel</a></li>
                                    <li><a href="#">Visual arts</a></li>
                                </ul>
                            </div>

                            <div class="filterBy">
                                <div class="sectionTitle">
                                    <span>Filter by futureboy</span>
                                </div>
                                <div class="separator blockTwo"></div>
                                <ul class="ulBlock">
                                    <li><a href="#">Gregory</a></li>
                                    <li><a href="#">Philippe</a></li>
                                    <li><a href="#">Sacha</a></li>
                                </ul>
                                <div class="sectionTitle">
                                    <span>Filter by futuregirl</span>
                                </div>
                                <div class="separator blockTwo"></div>
                                <ul class="ulBlock">
                                    <li><a href="#">Chloe</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="colRight">
                            <div class="padColRight">
                                <h1 class="newletter">Newsletter</h1>
                                <h3 class="copySloganMENU">Get inspired. Take action.<br>Build your dream.</h3>
                                <div class="emailFormMENU">
                                    <form>
                                      <input class="emailInputMENU" type="email" value="" placeholder="Your Email" required />
                                      <input class="joinBtnMENU" type="submit" value="Join the Crew" />
                                    </form>
                                </div>
                                <div class="copyFollow768MENU">
                                    <span>Follow our story & receive a weekly email packed<br>with things that inspire us + our freshest content.<br>Curated with love, promise :)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bottom1024">
                        <span class="copyBottom">More Of The Good Stuff</span>
                            <div class="socialMediaBottom">
                            <div class="allThreeIcons">
                                <a target="_blank" href="https://www.youtube.com" class="youtubeBtm"><img class="socialIconsBtm" src="../../assets/img/Youtube-lilac.svg" alt=""></a>
                                <a target="_blank" href="https://www.instagram.com/futureboy_hq/" class="instagramBtm"><img class="socialIconsBtm" src="../../assets/img/Instagram-lilac.svg" alt=""></a>
                                <a target="_blank" href="https://www.behance.net" class="behanceBtm"><img class="socialIconsBtm" src="../../assets/img/Behance-lilac.svg" alt=""></a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>






    <header>
      <div class="logo1024">
        <a href="index.html"><img src="../../assets/img/FutureboyLogo-v2.png" alt=""></a>
      </div>
      <div class="headerContainer">
        <div class="headerContent">
          <div class="title">
            <h3>Our Collection of Universal Principles</h3>
            <h1>Way Of Life</h1>
          </div>
        </div>
      </div>
    </header>

    <div class="sectionOne">
      <div class="thisSeek">
        <h1>Our North Star</h1>
      </div>
      <div class="seekExplain">
        <div class="seekExplainPlacement">
          <p class="p1">In our quest of self-discovery we have collected teachings from people living their dream. Visionary leaders, masters, high-performers & enlightened sages have been met along our journey.</p>
          <p class="p2">These teachings come from life experiences, looking within, ancient civilizations, philosophy & sacred texts.</p>
          <p class="p3">Our hope is that these guiding principles & concepts will uplift your life & those around you by orders of magnitude. As they have for us.</p>
        </div>
      </div>

      <div class="principles">
        <div class="principlesPlacement">

          <div class="principleBox">
            <div class="principleTitle">
              <h1>Growth Mindset</h1>
            </div>
            <div class="principleExplained">
            </div>
          </div>

          <div class="principleBox">
            <div class="principleTitle">
              <h1>Radical Honesty</h1>
            </div>
            <div class="principleExplained">
            </div>
          </div>

          <div class="principleBox">
            <div class="principleTitle">
              <h1>Congruence</h1>
            </div>
            <div class="principleExplained">
            </div>
          </div>

          <div class="principleBox">
            <div class="principleTitle">
              <h1>Simplicity</h1>
            </div>
            <div class="principleExplained">
            </div>
          </div>

          <div class="principleBox">
            <div class="principleTitle">
              <h1>Love</h1>
            </div>
            <div class="principleExplained">
            </div>
          </div>

          <div class="principleBox">
            <div class="principleTitle">
              <h1>Health</h1>
            </div>
            <div class="principleExplained">
            </div>
          </div>

          <div class="principleBox">
            <div class="principleTitle">
              <h1>Family</h1>
            </div>
            <div class="principleExplained">
            </div>
          </div>

          <div class="principleBox">
            <div class="principleTitle">
              <h1>Mindfulness</h1>
            </div>
            <div class="principleExplained">
            </div>
          </div>

          <div class="principleBox">
            <div class="principleTitle">
              <h1>Transparency</h1>
            </div>
            <div class="principleExplained">
            </div>
          </div>


        </div>
      </div>

      <div class="bottom">
                  <span class="copyBottom">More Of The Good Stuff</span>
                  <div class="socialMediaBottom">
                      <div class="allThreeIcons">
                          <a target="_blank" href="https://www.youtube.com" class="youtubeBtm"><img class="socialIconsBtm" src="../../assets/img/Youtube-lilac.svg" alt=""></a>
                          <a target="_blank" href="https://www.instagram.com/futureboy_hq/" class="instagramBtm"><img class="socialIconsBtm" src="../../assets/img/Instagram-lilac.svg" alt=""></a>
                          <a target="_blank" href="https://www.behance.net" class="behanceBtm"><img class="socialIconsBtm" src="../../assets/img/Behance-lilac.svg" alt=""></a>
                      </div>
                  </div>
          </div>
  </div>

      <script type="text/javascript" src="../../app/app.js"></script>



  </body>
</html>
