<!DOCTYPE html>
<html>

<head>
    <!--
    __________      _____                   ______
    ___  ____/___  ___  /____  ________________  /____________  __
    __  /_   _  / / /  __/  / / /_  ___/  _ \_  __ \  __ \_  / / /
    _  __/   / /_/ // /_ / /_/ /_  /   /  __/  /_/ / /_/ /  /_/ /
    /_/      \__,_/ \__/ \__,_/ /_/    \___//_.___/\____/_\__, /
                                                         /____/
    -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale = 1.0 maximum-scale=1.0 user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <script src="https://use.typekit.net/rer0env.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>
    <title>H U M A N S P A C E</title>
    <link rel="stylesheet" href="../../assets/css/normalize.css">
    <link rel="stylesheet" href="../../assets/css/weeklydosedelivery.css">
</head>

<body>

    <div class="content">
        <div class="contentContainer">
            <!-- <div class="logo1024">
                <a href="blog.html"><h1>weekly.dose.delivery</h1></a>
            </div> -->
            <!-- <div class="filters">
                <div class="filtersPlacement">
                    <ul class="ulTop1024">
                        <li><a href="#">Books</a></li>
                        <li><a href="#">Consciousness</a></li>
                        <li><a href="#">Good Food</a></li>
                        <li><a href="#">Music</a></li>
                        <li><a href="#">Startup journey</a></li>
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Visual arts</a></li>
                    </ul>
                </div>
                <div><a class="ctaSubscribe" href="subscribe.html">Subscribe</a></div>
            </div> -->
            <div class="quoteOfDay">
                <div class="quoteOfDayPlacement">
                    <span class="quote320">
                      <h2>Welcome to the archives of the weekly dose.</h2>
                      <span class="quoteAuthor">From the human.space team, with Love</span>
                    </span>
                    <span class="quote768">
                      <h1>Welcome to the archives of the weekly dose.</h1>
                      <span class="quoteAuthor">From the human.space team, with Love</span>
                    </span>
                    <!-- <span class="quote768"><h2>Transparency & radical honesty are principles we've trained ourselves to live by. Here, you'll learn about our journey to live from the heart & fulfill our dream: Help the world live with purpose.</h2><span class="quoteAuthor">From Maat, with Love</span></span> -->
                </div>
            </div>

            <!-- -LATEST ARTICLE GOES HERE- -->
            <div class="article">

                <div class="postIMG">
                    <div class="imgLESS750PX">
                        <a href="content.html"><img src="../../assets/img/ayahuasca.jpg" alt=""></a>


                        <div class="upper1024">
                            <div class="overlayPlacement">


                                <a href="content.html" class="superAnchor">
                                    <div class="anchorPLACEMENT">
                                        <div class="articleTITLE">
                                            <div class="articleTitlePLACEMENT">
                                                <h1>Power of Thought</h1>
                                            </div>
                                        </div>
                                        <!-- <div class="articleCATEGORIES">
                                            <div class="articleCategoriesPLACEMENT">
                                                <span>Exploration &nbsp&nbsp • &nbsp&nbsp Consciousness &nbsp&nbsp • &nbsp&nbsp Philippe</span>
                                            </div>
                                        </div> -->
                                        <div class="articleSUMMARY">
                                            <div class="articleSummaryPLACEMENT">
                                                <h4>No. 003</h4>
                                            </div>
                                        </div>
                                        <!-- <div class="readMORE">
                                            <span>Watch</span>
                                        </div> -->
                                    </div>
                                </a>


                            </div>
                        </div>
                    </div>
                </div>

                <div class="lower1024">
                    <div class="postData">
                        <div class="postTitle">
                            <a href="content.html"><h1>The Power of Thought</h1></a>
                        </div>
                        <div class="post">
                            <!-- <div class="postCategories">
                                <span>Exploration</a>&nbsp&nbsp • &nbsp&nbspConsciousness&nbsp&nbsp • &nbsp&nbspPhilippe</span>
                            </div> -->
                            <div class="postSummary">
                                <div class="postSummaryFlex">
                                    <h4>No. 003</h4>
                                </div>
                            </div>
                            <!-- <div class="postReadBtn">
                                <a href="content.html">Watch</a>
                            </div> -->
                        </div>
                    </div>
                </div>



            </div>

            <!-- REST OF FEED GOES HERE -->

            <div class="article">

                <div class="postIMG">
                    <div class="imgLESS750PX">
                        <!---PLEASE DELETE THE IMG CLASS YOU WON'T USE--->
                        <a href="index.html"><img src="../../assets/img/500.png" alt=""></a>
                        <div class="upper1024">
                            <div class="overlayPlacement">


                              <a href="content.html" class="superAnchor">
                                  <div class="anchorPLACEMENT">
                                      <div class="articleTITLE">
                                          <div class="articleTitlePLACEMENT">
                                              <h1>Apex</h1>
                                          </div>
                                      </div>
                                      <!-- <div class="articleCATEGORIES">
                                          <div class="articleCategoriesPLACEMENT">
                                              <span>Exploration &nbsp&nbsp • &nbsp&nbsp Consciousness &nbsp&nbsp • &nbsp&nbsp Philippe</span>
                                          </div>
                                      </div> -->
                                      <div class="articleSUMMARY">
                                          <div class="articleSummaryPLACEMENT">
                                              <h4>No. 002</h4>
                                          </div>
                                      </div>
                                      <!-- <div class="readMORE">
                                          <span>Watch</span>
                                      </div> -->
                                  </div>
                              </a>


                            </div>
                        </div>
                    </div>
                </div>

                <div class="lower1024">
                    <div class="postData">
                        <div class="postTitle">
                            <a href="content.html"><h1>Apex</h1></a>
                        </div>
                        <div class="post">
                            <!-- <div class="postCategories">
                                <span>Exploration</a>&nbsp&nbsp • &nbsp&nbspConsciousness&nbsp&nbsp • &nbsp&nbspPhilippe</span>
                            </div> -->
                            <div class="postSummary">
                                <div class="postSummaryFlex">
                                    <h4>No. 002</h4>
                                </div>
                            </div>
                            <!-- <div class="postReadBtn">
                                <a href="content.html">Watch</a>
                            </div> -->
                        </div>
                    </div>
                </div>

            </div>

            <div class="article">

                <div class="postIMG">
                    <div class="imgWIDER750PX">
                        <!---PLEASE DELETE THE IMG CLASS YOU WON'T USE--->
                        <a href="lessonInFascination.html"><img src="../../assets/img/lessonInFascination/line5.png" alt=""></a>
                        <div class="upper1024">
                            <div class="overlayPlacement">


                              <a href="content.html" class="superAnchor">
                                  <div class="anchorPLACEMENT">
                                      <div class="articleTITLE">
                                          <div class="articleTitlePLACEMENT">
                                              <h1>Init</h1>
                                          </div>
                                      </div>
                                      <!-- <div class="articleCATEGORIES">
                                          <div class="articleCategoriesPLACEMENT">
                                              <span>Exploration &nbsp&nbsp • &nbsp&nbsp Consciousness &nbsp&nbsp • &nbsp&nbsp Philippe</span>
                                          </div>
                                      </div> -->
                                      <div class="articleSUMMARY">
                                          <div class="articleSummaryPLACEMENT">
                                              <h4>No. 001</h4>
                                          </div>
                                      </div>
                                      <!-- <div class="readMORE">
                                          <span>Watch</span>
                                      </div> -->
                                  </div>
                              </a>


                            </div>
                        </div>
                    </div>
                </div>

                <div class="lower1024">
                    <div class="postData">
                        <div class="postTitle">
                            <a href="content.html"><h1>Init</h1></a>
                        </div>
                        <div class="post">
                            <!-- <div class="postCategories">
                                <span>Exploration</a>&nbsp&nbsp • &nbsp&nbspConsciousness&nbsp&nbsp • &nbsp&nbspPhilippe</span>
                            </div> -->
                            <div class="postSummary">
                                <div class="postSummaryFlex">
                                    <h4>No. 001</h4>
                                </div>
                            </div>
                            <!-- <div class="postReadBtn">
                                <a href="content.html">Watch</a>
                            </div> -->
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="bottom">

        <!-- <div class="marketing">
<div class="marketingPlacement">
  <div class="copyFollow320">
      <span>From pure joy to shatter, we’re sharing everything on our journey to live from<br>the heart.<p>We're evolving a lot,<br>and so will you! :)</p></span>
  </div>
  <div class="copyFollow700">
      <span>From pure joy to shatter, we’re sharing everything<br>on our journey to live from the heart.<p>We're evolving a lot, and so will you! :)</p></span>
  </div>
<div class="emailForm">
    <form action="joinedNewsletter.html">
      <input class="emailInputBottom" type="email" value="" placeholder="Enter your email address" required />
      <input class="joinBtnBottom" type="submit" value="Let's do it!"/>
    </form>
</div>
</div>
</div> -->

        <span class="copyBottom">Never miss a Weekly Dose:<br>Receive it straight to your Messenger app<br>with the help of our awesome little bot</span>
        <div class="socialMediaBottom">
            <div class="allThreeIcons">
                <!-- <a target="_blank" href="https://www.youtube.com" class="youtubeBtm"><img class="socialIconsBtm" src="../../assets/img/Youtube-lilac.svg" alt=""></a> -->
                <a target="_blank" href="https://www.m.me/weekly.dose.delivery?ref=of.course" class="instagramBtm"><img class="socialIconsBtm" src="../../assets/img/dose.png" alt=""></a>
                <!-- <a target="_blank" href="https://www.behance.net" class="behanceBtm"><img class="socialIconsBtm" src="../../assets/img/Behance-lilac.svg" alt=""></a> -->
            </div>
        </div>
    </div>




    <script type="text/javascript" src="../../app/app.js"></script>



</body>

</html>
